[2019-02-13 05:29] nixel2007 opened #4 "Migrating from intellij-lsp to lsp4intellij"
Hello!

I would like to migrate from scala intellij-lsp to your fork (and give some feedback, as you requested it in README :) ).

Do you support all basic capabilities of old intellij-lsp? At least i need a diagnostics, completion, hover and formatting capabilities.

Do i need to include something more than gradle/mvn dependency from jitpack (e.g.)?
https://jitpack.io/#NipunaRanasinghe/lsp4intell

[2019-02-13 12:09] NipunaRanasinghe commented on #4
Hi @nixel2007! First of all, thank you for your interest. It would be a great help if you could test this with your language server and provide some feedback as I requested.

I'm planning to implement all the existing features of the scala plugin. As I mentioned in the README, I've implemented code completion support so far and still working on the other features(currently working on diagnostics i

[2019-02-13 13:31] nixel2007 commented on #4
Looks like you've faced with the same issue - https://github.com/jitpack/jitpack.io/issues/3737

[2019-02-13 13:32] nixel2007 commented on #4
Ok, thank you! i'll try to migrate in a few days.

If you randomly choose features to implement - please, implement range and document formatting next :D

[2019-02-14 06:51] NipunaRanasinghe commented on #4
Sure I can work on formatting support after completing diagnostics :D

[2019-02-15 08:27] nixel2007 commented on #4
No luck this time.

[code]

I'm using IDEA IC 2018.3.4. Plugin is targeted to `>= 183.4284.85`

Commit with migrating - https://github.com/1c-syntax/intellij-language-1c-bsl/commit/6b65197020bb50448e786b5ce19830aa6f2853d4

[2019-02-20 11:37] NipunaRanasinghe commented on #4
@nixel2007 Could you please try after changing the build number range in your `plugin.xml`? :) This might help https://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/build_number_ranges.html

And please note that I've tested the library only for 173+ . Will add the compatibility information soon.

[2019-02-21 06:04] nixel2007 commented on #4
I've seen your fixes about plugin.xml and untilBuild in gradle. I'll check it asap

[2019-02-21 06:18] NipunaRanasinghe commented on #4
I've also updated the README. Hope it'll help :)

[2019-02-25 12:05] nixel2007 commented on #4
Could you provide some info about LSPExtensionManager? https://github.com/NipunaRanasinghe/lsp4intellij/blob/de60747f47e0240f7298f1266614f89d6c41230a/src/main/java/com/github/lsp4intellij/extensions/LSPExtensionManager.java

what is designed for? i don't implement it (cause it was not needed in intellij-lsp) and (to be honest) not sure should i implement it and how.

[2019-02-25 12:56] NipunaRanasinghe commented on #4
@nixel2007 **You don't have to implement it at all**, If don't have any language server protocol extensions (custom capabilities in addition to the Language server Specification) in your language server :)

That capability is designed to support custom request/response and notifications, which are not in the language server protocol specification. Anyway I'll add a detailed description later, sinc

[2019-02-25 12:58] nixel2007 commented on #4
I did all this steps but don't see any diagnostics from my language server. I'll setup a lsp launcher tracer to get some logs and figure out if my lang server even starts.

[2019-02-25 13:03] NipunaRanasinghe commented on #4
@nixel2007 That would be great if you can verify that. I guess you are also using the `RawCommandServer Definition` option?

[2019-02-25 13:10] nixel2007 commented on #4
@NipunaRanasinghe nope. ExeLanguageServerDefinition - https://github.com/1c-syntax/intellij-language-1c-bsl/blob/feature/lsp4intellij/src/main/java/org/github/_1c_syntax/intellij/bsl/BSLPreloadingActivity.java#L89

[2019-02-25 13:18] NipunaRanasinghe commented on #4
@nixel2007 could you please try for only one file extension instead of two, since I've still not implemented support for multiple file extensions? :/

i.e. String extensions = BSLFileType.INSTANCE.getDefaultExtension();

[2019-02-25 13:45] NipunaRanasinghe commented on #4
One more thing, did you add the `IntelliJLanguageClient` as the application component as follows?

https://github.com/NipunaRanasinghe/lsp4intellij-plugin/blob/95ecedb19364408acf74c62ac26d59efa2466789/src/main/resources/META-INF/plugin.xml#L30

[2019-02-25 14:23] nixel2007 commented on #4
oh. i missed it. ok, i'll try it.

sure. may i create an issue for it to be notified, when it'll be done?

[2019-02-25 14:46] NipunaRanasinghe commented on #4
Sure, please do :) Probably I can fix that within next 2, 3 days I guess

[2019-02-25 14:59] nixel2007 opened #8 "Support several extensions in LanguageServerDefinition"
**Is your feature request related to a problem? Please describe.**

Old intellij-lsp supports several extensions while registring LanguageServerDefinition via semicolon separated string as first parameter. Current implementation supports only one extension (as discussed at #4)

**Describe the solution you'd like**

Old semicolon behavior is ok.

**Describe alternatives you've considered**

Array o

[2019-02-25 17:38] nixel2007 commented on #4
Okay, adding missed component to plugin.xml and one extension did the trick. but... I have exeptions in idea.log (and server shutdown).

idea.log:
[code]

after this opening new file throws more errors like this:

[code]

after some moment language server revieves `shutdown` and `exit` events. lsp-trace.log (sorry for long read):

[code]

[2019-02-25 17:55] NipunaRanasinghe commented on #4
@nixel2007 Glad it worked :D Seems there is an issue in a uri sensitization util method, and thats why the connection gets crashed.
Could you please let me know,
- your OS details and
- absolute file path of the file that you were trying to open
to reproduce the issue?

[2019-02-25 18:17] nixel2007 commented on #4
* Microsoft Windows [Version 10.0.18343.1] (PRO x64, RU locale)
* `d:/git/nixel2007/entity/tasks/coverage.os` (from https://github.com/nixel2007/entity/blob/develop/tasks/coverage.os)

[2019-02-26 04:18] NipunaRanasinghe commented on #4
Oh that must be a windows specific issue, since I haven't had a time to test it on windows so far. Will fix it ASAP. Again, really your contribution and effort towards this :)

[2019-02-26 04:27] NipunaRanasinghe opened #9 "StringIndexOutOfBoundsException in windows"
**Describe the bug**
When trying to open a new file, client throws a StringIndexOutOfBoundsException and after some moment language server receives `shutdown` notification.

[code]

**Desktop:**
 - OS: Windows

[2019-02-26 08:33] #8 closed

[2019-02-26 08:37] NipunaRanasinghe commented on #8
@nixel2007 Please note that I've changed the API to input the extensions as a  **comma separated string**, since I thought using `,` as the the separator would be more intuitive. :D

[2019-02-26 09:55] nixel2007 commented on #8
@NipunaRanasinghe migrated to using of SPLIT_CHAR, thanks.

but... no luck. stil have strange URI for wrapper:

[code]

[2019-02-26 09:59] nixel2007 commented on #8
oh, @NipunaRanasinghe, sorry! i thought it was a fix for another issue #9 :)
several extensions work!

[2019-02-26 10:22] NipunaRanasinghe commented on #8
Great! I'll work on #9 and update you when it's fixed.

[2019-02-28 10:45] #9 closed

[2019-02-28 10:47] NipunaRanasinghe commented on #8
@nixel2007 windows issue is fixed with #11. Could you please verify?? :)

[2019-03-13 03:56] NipunaRanasinghe commented on #4
@nixel2007 I'm having thoughts of transferring the ownership of this repository to IntelliJ LSP Community. For that
- I may need to slightly change the org name ( from `intellij-lsp` to `intellijcom`? ) since I'll have to request a new maven group id with the org name
- Copyrights of this repository will remain same until I get the approval from my organization

Are you okay with the above concern

[2019-03-13 06:41] nixel2007 commented on #4
Good thoughts :)
- I think we could have trademark problem with intellijcom. It is so close to intellij.com and so on. If the maven group id is the main problem, you could request 'org github.intellij-lsp' or something similar? Also we could rename org to lsp4intellij.
- for me copyright ownership is not a problem at all. But GPL have some strong states about considering transpiling to another lan

[2019-03-13 09:01] NipunaRanasinghe commented on #4
Thanks for your feedback!
- We can surely use `com. github.intellij-lsp` as a valid group id but since scala plugin is already using that as its name, using another name might be better I guess. Therefore I'm +1 for `lsp4intellij` or any other suggestion you got ;)
- You seem to be having a valid point :) I'll update you with the final conclusion after having some further discussions

[2019-03-13 09:04] nixel2007 commented on #4
Org was renamed - https://github.com/lsp4intellij
Feel free to transfer ownership when you are ready.

[2019-03-13 09:10] NipunaRanasinghe commented on #4
Sure will do after sorting out the copyright issue. Thanks for your help towards the process.

[2019-03-13 09:16] nixel2007 commented on #4
it is so inspiring for me as Russian programmer to work with Sri Lanka's (Sri Lankan? Sri Lankian? 😄) programmer on opensource project, that can be usefull all over the world.

[2019-03-13 09:20] nixel2007 opened #18 "[question] Calling LS methods directly"
I have a LS with some stored `configuration`. I want to update its configuration from IDEA via some button in settings window.
Is there any method to get connected language-server and fire `workspace/didChangeConfiguration` event from my plugin?

[2019-03-13 12:39] NipunaRanasinghe commented on #18
I believe it should be exposed via this client API. I'll have a look :)

[2019-03-26 06:01] NipunaRanasinghe commented on #4
@nixel2007 Sorry for the late response since We were having several internal discussions regarding the copyrights and the maven publish thing. In brief, we considered the following factors

-  We have done internal design and architectural reviews and changed the design accordingly (might have to do more in the future). Therefore it is decided that it's reasonable to proceed with the wso2 copyrigh

[2019-03-26 06:08] nixel2007 commented on #4
Sounds reasonable :) I don't see any cons to this.
So repo will be transfered to wso2 org?

[2019-03-26 06:16] NipunaRanasinghe commented on #4
Yeah I hope so. I think by this way we'll get more community attraction since the wso2 org (https://github.com/wso2) already has a fairly large number of contributors with 300+ opensource projects. :)

[2019-03-26 13:41] gayanper commented on #4
@NipunaRanasinghe so if i understand correctly this work will go into wso2 github org instead of lsp4intellij org repo right ?

I also have some changed i done on original work of this. I think we can add them here as well. I will come up with PRs and improvements for them. I would also like to see this going fwd since intellij have no lsp support plans.

[2019-03-27 08:07] nixel2007 opened #20 "`Can't remove document listener` error on editor close"
**Describe the bug**

Sometimes when i close editor with file, connected to lang server, I see `Can't remove document listener` error

**To Reproduce**
Steps to reproduce the behavior:

Can't make a reproducable scenario, but it's something like - start idea, open file, close file :)

**Expected behavior**

No errors, yay!

**Stack trace**

[code]

**Desktop (please complete the following informat

[2019-03-27 13:35] DanielFGA opened #21 "jar-File unavailable"
**Describe the bug**
The jar-file is unavailable.

**To Reproduce**
I tried to get the library via gradle and mvnrepository, but I couldn't get it.
With gradle I just get the flexmark-Libraries. On mvnrepository is no jar available.

**Screenshots**
![image](https://user-images.githubusercontent.com/38460699/55079658-e5152800-509c-11e9-964f-1b3972fbb86a.png)

**Desktop (please complete the followi

[2019-03-27 14:29] nixel2007 commented on #21
did you add a jipack repository to gradle?

[2019-03-27 14:43] DanielFGA commented on #21
Yes, I tried this with the latest version, but I think there is some issue in the build:
![image](https://user-images.githubusercontent.com/38460699/55085236-a2f0e400-50a6-11e9-9426-98e8c9added3.png)

But I found out that it works with version 0.1.0.

[2019-03-27 14:44] nixel2007 commented on #21
0.1.1 can't be build on jitpack. use commits' or branches' build, or wait for next release :)

[2019-03-27 15:29] NipunaRanasinghe commented on #21
Hi @DanielFGA! First of all, thanks for your interest!

Unfortunately we had to remove the artifacts from maven central since we had few concerns regarding the copyrights. Still you can use jitpack (0.1.1 seems to be not supported though) and If you want to try out the latest stable build I'd suggest you to use
`com.github.NipunaRanasinghe:lsp4intellij:master-0.1.1-g4210c6a-17` as your gradle depe

[2019-03-27 17:05] DanielFGA commented on #21
Thank you for your responses!
I will use 0.1.0 for testing and looking forward to the next release.

[2019-03-28 11:03] nixel2007 commented on #4
@NipunaRanasinghe I'm a bit surprised by the new repo owner, but it's ok :)

[2019-03-28 12:22] gayanper commented on #4
Me too 😮

[2019-03-28 13:07] NipunaRanasinghe commented on #4
Hey guys, Sorry for the surprise! We thought of add this repo under the ballerina org since this was initiated  as a requirement of the ballerina IntelliJ plugin. On the other hand, ballerina organization is 100% opensource :) So think this might be fine for you guys, forgive me again if you guys experienced any issues due to the migration.

[2019-03-28 13:09] NipunaRanasinghe commented on #4
One more thing, I did a new release today, which is stable in jitpack :) So feel free to try out and contribute!

[2019-03-28 13:21] nixel2007 commented on #4
@NipunaRanasinghe It looks like all core features i need for bsl plugin is implemented here, so after updating deps I'll merge lspintellij-migration branch to master, and we can close this issue :)

[2019-03-28 15:01] nixel2007 commented on #4
@NipunaRanasinghe ah, i am still waiting for info/hints diagnostics.

[2019-03-28 16:50] gayanper commented on #4
@NipunaRanasinghe Do we really need to fill all the stuff in the PR template ? Seems like bit de-motivational for contributions if we really need to go through the whole process of submitting different documentation to wso2 :)

[2019-03-29 04:48] NipunaRanasinghe commented on #4
@nixel2007 Forgive me since I'm bit stuck with another work :/ Will try to fix that by the next week for sure :)

@gayanper No you don't :) Its totally okay to fill the purpose and remove the other sections if you got nothing to fill there. Its just the standard template for the wso2 open source projects.

[2019-03-29 07:25] NipunaRanasinghe commented on #20
@nixel2007 Sorry for the late response since I've missed this somehow :( I could reproduce the issue on Ubuntu as well. I already fixed the `Editor is already disposed` issue and working on the document listener fix.

[2019-03-29 11:26] NipunaRanasinghe commented on #4
@nixel2007 Could you please try with `'com.github.ballerina-platform:lsp4intellij:improved-inspections-SNAPSHOT'` jitpack build? Let me know whether diagnostics are fixed

[2019-03-29 17:03] gayanper opened #26 "[question] How to add support for none LSP methods"
I'm trying to implement STS4 idea plugin with this LSP client. in STS4 they have some custom methods on their language server,

https://github.com/spring-projects/sts4/blob/master/idea-extensions/idea-boot-java/src/org/spring/tools/boot/java/ls/StsServerDefinition.scala

https://github.com/spring-projects/sts4/blob/master/idea-extensions/idea-boot-java/src/org/spring/tools/boot/java/ls/StsLanguage

[2019-03-29 17:40] gayanper opened #27 "Symbols not working"
When integrating the STS4 Language server, it seems the language server symbols are not shown in IDEA symbol view.

[2019-03-29 17:43] gayanper opened #28 "Langauge server is not connected for all files"
**Steps to reproduce:**
1. Open a file which is connected to the language server
2. Close the file
After some time the green icon goes away from the status bar
3. Open the second file
Green icons is not shown.

Unfortunately i cannot test if the lang server is connected even though the green icon is not shown since symbols are not working and my lang server only provides symbols.

[2019-03-30 03:51] NipunaRanasinghe commented on #27
We are planning to add the workspace symbols and renaming support by the next week :)

[2019-03-30 04:01] NipunaRanasinghe commented on #26
Thanks for bringing this up! Actually I'm still thinking ways to improve lsp4intellij client library API to support custom language server extensions as you've mentioned above.

I've already done a POC in https://github.com/NipunaRanasinghe/lsp4intellij-plugin/tree/master since ballerina language server also has few non LSP methods. But this is not build-able ATM, since not updated with the latest

[2019-03-30 04:05] NipunaRanasinghe commented on #28
I was able to reproduce this and will do a release within next week with the fix :)

[2019-03-30 04:28] gayanper opened #30 "API to set different timeouts in the LSP client API"
**Description:**
Sometime the default timeout isn't enough for some language servers, it would be nice to change the timeouts, specially the init timeout. Some time the STS4 language server won't fully initialized in 10 seconds if the system is busy or if the project is a large project. So it would be nice to have a API to change this so the STS4 plugin for example can make it as a configuration i

[2019-03-30 13:15] nixel2007 commented on #4
@NipunaRanasinghe something goes wrong ;(

[code]

[2019-03-30 13:28] nixel2007 commented on #4
Part of lsp-trace.log after getting diagnostics:

[code]

[2019-03-31 15:33] gayanper opened #31 "[question] Debug Adapter protocol support"
@NipunaRanasinghe do you have any plans to add support for https://microsoft.github.io/debug-adapter-protocol/ as well ? IMHO if you want to build a full functioning tooling for ballerina you would need the debug adapter protocol as well right ? Any plans for future ?

[2019-04-01 04:12] NipunaRanasinghe commented on #30
Yes indeed! This was already on our road map to the 1.0 release. :) Will improve API to change default timeouts.

[2019-04-01 06:07] NipunaRanasinghe commented on #31
@gayanper Since current Ballerina debugger implementation does not support DAP, we don't have any immediate requirement to implement $subject, but we have a plan of rewriting the ballerina debugger according to the DAP and then we will think of adding DAP support for this client :)

[2019-04-01 06:09] NipunaRanasinghe commented on #31
Meanwhile If you have sometime to work on adding DAP support, it would be more than appreciated!

[2019-04-02 05:03] NipunaRanasinghe commented on #21
@DanielFGA We have released the version 0.8.0, which has stable artifacts in jitpack :) So If you have sometime, please give it a try.

[2019-04-02 14:57] gayanper commented on #28
Any update on this issue ? if this is fixed i can continue my implementation with STS4 with configuration files.

[2019-04-02 15:01] gayanper opened #32 "Add support for file name patterns"
**Description:**
Today the implementation only support for file extensions. But in eclipse you could configure a full file name or filename patterns.
In STS4 context:
You can configuration the language server to use STS4 LS if the file name is such application*.properties

Now today the only way would be to bind the LS against extension .properties which makes the LS to connect on all java propert

[2019-04-03 04:20] NipunaRanasinghe commented on #28
@gayanper Sorry for the late responses since I've been busy with our ballerina release. Could you please add the following jitpack build and verify if your issue is fixed?? :)

`com.github.ballerina-platform:lsp4intellij:improved-inspections-SNAPSHOT`

[2019-04-03 04:27] NipunaRanasinghe commented on #32
I see your point.. If I got this right, if the user can provide their filename patterns as regex expressions instead of just file extensions, that would solve the issue right?? :)

[2019-04-03 08:10] gayanper commented on #32
Yes that's correct 👍

[2019-04-03 14:50] gayanper commented on #28
Unfortunately this branch doesn't have all the fixes i need like the language id support (The PR you merged from me). I will wait till you merge this to master.

[2019-04-03 15:35] gayanper commented on #28
By the way i locally merged the master into this branch and tested out. Seems working fine for me.

[2019-04-03 16:48] gayanper commented on #27
I just had a look and seems like i can add the symbols support around this weekend, have you already started @NipunaRanasinghe  ?

[2019-04-04 04:02] NipunaRanasinghe commented on #27
@gayanper Thats great! :) As I told, I'm still bit busy with the release works and you are welcome to implement the symbols support if you have time for that. If not, I can do it by the early next week.

I'm currently working on Timeouts API and will merge it within this week.

[2019-04-04 04:03] NipunaRanasinghe commented on #28
Okay then. I'll add the fix to the master. :+1:

[2019-04-04 12:50] DanielFGA commented on #21
@NipunaRanasinghe thank you 👍  I added it to my plugin and it works very fine.

[2019-04-04 12:50] #21 closed

[2019-04-04 13:31] DanielFGA commented on #18
Hello,
I have a similar question. I want to build a tool window in my plugin, where I display the diagnostics. Is there a way to get current diagnostics from the LS into my plugin? I already saw that the EditorEventManager has a list with the current diagnostics, but I can´t figure out, how to get them.

[2019-04-04 15:36] gayanper opened #35 "Error when running STS4 Tooling"
**Description:**
This seems like the Runtime error which is lack of some range checking
[code]

[2019-04-04 17:29] gayanper commented on #27
Hmmm i think i implemented the workspace Symbols but seems like the symbols i receive doesn't show up in the UI. i did implemented the symbol contributor as well. How do you debug this library with IDEA ?

[2019-04-05 03:37] gayanper commented on #28
Well i found another scenario, where when opening the file if the server init timeout, It won't try to start the language server again regardless how many time i close and open the file. I have to restart the IDE to get the language server to try init again.

[2019-04-05 08:21] NipunaRanasinghe commented on #35
Will look into this :)

[2019-04-05 15:40] gayanper commented on #27
Go it working :)

[2019-04-05 18:06] gayanper commented on #27
@NipunaRanasinghe Added a https://github.com/ballerina-platform/lsp4intellij/pull/36 with symbol support. If there needs to be changes lets discuss.

[2019-04-06 14:47] gayanper commented on #28
@NipunaRanasinghe i added a new small feature to get around the above problem https://github.com/ballerina-platform/lsp4intellij/pull/37

[2019-04-06 15:41] gayanper commented on #32
@NipunaRanasinghe here is a small experiment i did without changing much the way how server definitions are resolved. https://github.com/ballerina-platform/lsp4intellij/pull/38

I feel this is not fully perfect, but if we want a perfect solution we might need to rely heavily on IDEA file associations and base our server binding on that. That might be a huge change which i don't think worth trying

[2019-04-08 03:34] NipunaRanasinghe commented on #28
@gayanper Thanks for working on it! I was thinking of a solution similar to `forced association` feature of the `lsp support` plugin. Lets add that later since it may need some more effort.

[2019-04-08 03:52] #30 closed

[2019-04-08 06:07] NipunaRanasinghe commented on #32
@gayanper Yeah I agree. I think we are all good with your way. I'll update the documentation when after the PR is merged :+1:

[2019-04-08 06:22] NipunaRanasinghe opened #39 "Review timeouts API documentation"
**Description:**
$Subject.

**OS, DB, other details and versions:**
#33.

[2019-04-08 08:53] NipunaRanasinghe commented on #27
Forgive me for the late response @gayanper  Thanks for your great work! :) Sure I'll ask if there's anything to be clarified in #36.

[2019-04-08 14:01] gayanper commented on #4
@NipunaRanasinghe registering the LSP contributors and app component on each plugin which uses this library going to be a problem right ? I mean even if i have two instance registration of autocomplete contributor with two different ids, if i have multiple lang servers for same file ext, the same content gonna be contributed by the two contributors right ? Or am i missing something ?

[2019-04-08 17:03] gayanper commented on #4
@NipunaRanasinghe @nixel2007 How should i try to send configuration to language server as done at

https://github.com/spring-projects/sts4/blob/master/eclipse-language-servers/org.springframework.tooling.boot.ls/src/org/springframework/tooling/boot/ls/DelegatingStreamConnectionProvider.java#L123

Seems like the code related to this in intellij plugin is in LanguageServerWrapper. How should we try

[2019-04-08 17:07] nixel2007 commented on #4
@gayanper i haven't digged into it yet. but i need configuration send method also :)

[2019-04-09 05:07] NipunaRanasinghe commented on #4
@gayanper @nixel2007 We need to add this capability as discussed with @nixel2007 earlier. We need to expose this API through `IntelliJLanguageClient` same as the other APIs which we have now.

[2019-04-09 05:48] gayanper commented on #4
@NipunaRanasinghe we still need a life cycle notification to trigger this method right ?. Or we should provide a hook which we can hook our post initialization so that the consumer can call the config method in that.

[2019-04-09 06:26] praneesha commented on #39
Doc review done in https://github.com/ballerina-platform/lsp4intellij/pull/40.

[2019-04-09 11:21] NipunaRanasinghe commented on #39
Closing since fixed with #40.

[2019-04-09 11:21] #39 closed

[2019-04-10 03:30] gayanper opened #41 "Support for workspace/didChangeConfiguration"
Add support to send workspace/didChangeConfiguration after the language server is initialized. Implementing workspace/didChangeConfiguration is straight forward. But with the idea plugin we seems to missing a life-cycle hook which we can receive language server notification messages. May be we can send this once we receive the InitializeResult. But the consumer of this library don't have a way to

[2019-04-10 04:06] gayanper commented on #41
What if we add the support in ServerDefinition to provide a listener. By default there with be a noop listener. But consumer can plugin if he has one. We then call the listener when the initialization is done. The listener will also have default methods by design because that gives us the opportunity to add later new hooks without breaking backward compatibility.
@nixel2007 and @NipunaRanasinghe w

[2019-04-10 17:03] gayanper commented on #41
I did some changes according my suggestion. Once tested i share my branch you can take look at it and see. Once things get into shape will make a PR. Sounds good ?

[2019-04-11 03:52] NipunaRanasinghe commented on #41
@gayanper Thats great! Yeah please share your branch once the initial implementation is done and then we can work on optimizing the design (if required). Thanks for working on this :)

[2019-04-11 04:19] #28 closed

[2019-04-11 04:35] rasika commented on #41
@gayanper this is a very good suggestion. I suppose client should notify through **workspace/didChangeConfiguration** for the initialization as well as per each config change.

[2019-04-11 05:37] nixel2007 commented on #41
Looks like I miss something. Why do you need any hook at server definition side? Why just not send regular request through existing intellij language client, as autocomplete or hover does?
My plugin - hey, I want to change config of my server. Hey, intellij client, post this config as didChangeConfiguration event via existing JSON RPC. Or all this talk with hooks about workspace/configuration even

[2019-04-11 10:36] gayanper commented on #41
@nixel2007 we need the support for listening server messages since, in my STS language server the initial configuration message need to sent as part of initialization after receiving InitializeResult as part of the ResponseMessage. After that we send the initialized message which will tell the server to use the configuration sent and start processing the code. Thats why we need the support for lis

[2019-04-11 11:03] nixel2007 commented on #41
@gayanper ah, I understand your needs now. So basicaly you need to subscribe to every response processing operation, not only workspace/configuration, right?

[2019-04-11 12:21] gayanper commented on #41
Kind of yes, basically for sts4 we only need the InitializeResult. But we can easily add the rest as well.

[2019-04-11 16:04] gayanper opened #44 "Stop the possibility that requests can reach server before initialization"
When working with a LS implemented under spec version 3, the server expect to receive a InitializedParam request before any other request is made to server.

The current implementation of this library doesn't guarantee that.

[2019-04-12 06:36] gayanper commented on #41
@nixel2007 @NipunaRanasinghe check this commit on my personal branch
https://github.com/gayanper/lsp4intellij/commit/231f76a276a0b659f0f4863232ce0c9e5ab35236

[2019-04-12 08:26] gayanper opened #46 "Support to access EditorEventManager from LanguageClient implementation"
**Description:**
When adding support for custome notifications (language server specific) we need to implement our own language client implementation where we can add JsonNotification annotations. But we also need to access to components like EditorEventManager for example to resolve the current editor for uri. So it would be nice to have a client context injected with these required components in

[2019-04-13 16:11] gayanper commented on #46
Check commit https://github.com/gayanper/lsp4intellij/commit/59c21ad64b6ccc7eb7dc0655b4e780c147f0c9b3 for a initial WIP implementation of this idea.

[2019-04-16 03:18] NipunaRanasinghe commented on #46
@gayanper Sorry for not being around here for a while. Based on my experience, to extend this language client, we need to access(extend) the following classes.
- `EditorEventManager`,
- `DefaultRequestManager` and
-`Languageserver` (if we need to define the remote server interface)

Thats why I've added `LSPExtensionManager` interface so that library users can implement their own language server p

[2019-04-16 03:19] NipunaRanasinghe commented on #26
@gayanper @nixel2007 Please check https://github.com/ballerina-platform/lsp4intellij/issues/46#issuecomment-483495679 .

[2019-04-16 13:34] gayanper commented on #46
@NipunaRanasinghe well i don't really understand how this extension support will solve the my issue, because i need a bunch of custom notifications on the language client. For the server it is doable since we create a proxy for the remote interface, but client has a concrete class. I don't see how we can do this without extending the language client implementation. This is what i want to implement

[2019-04-16 15:25] gayanper opened #47 "Show language server startup failure as an error in IDEA even log"
Today when the language server fail to start a message box is shown, this message box blocks the UI thread which makes all the dependent UI updates to wait till this message is dismissed, From a usability point of view show this message as a message box doesn't add value to end user interaction since user can only read and acknowledge it. In IDEA the way these kind of interaction are handled throu

[2019-04-16 16:10] nixel2007 commented on #47
Does Notification.Bus block UI thread? I send messages through it in my idea plugin, didn't notice any freezes

[2019-04-17 02:54] gayanper commented on #47
@nixel2007 well swing is single threaded. So if you open a dialog you block all other UI operations other than the paint events triggered by swing. So basically if the ls is failed to startup while opening the editor. The editors styling and gutter icon rendering some time gets blocked because of this message box

[2019-04-18 08:10] gayanper commented on #46
@rasika do you have any design suggestion on this ?

[2019-04-18 08:16] NipunaRanasinghe commented on #47
@gayanper yeah I think your suggestion will be better when considering from usability point of view as well. Let's move it to the idea event log.

[2019-04-18 08:28] gayanper opened #48 "Error in LSPCompletionContributor when completing git messages in commit dialog"
Triggering completion git dialog throws the following error
[code]
Seems like the LSPCompletionContributor need some guarding.

[2019-04-18 08:35] NipunaRanasinghe commented on #48
@gayanper Thanks for reporting! :) is this intermittent or if not, could you provide a way to reproduce the issue??

[2019-04-18 09:56] gayanper commented on #48
*Steps to reproduce*
- Install the lsp client plugin, in my case it was the WIP sts4 plugin
- without triggering the lang server to startup by opening any files, open git commit dialog.
- press ctrl+space to trigger auto completion

I will be able to provide a fix tonight 🙂

[2019-04-18 10:43] gayanper commented on #46
Any update on this guys. I would like if some one can answer my last question, so i can work on the changes in this coming long weekend 😉

[2019-04-18 11:20] rasika commented on #46
@gayanper Based on @NipunaRanasinghe's https://github.com/ballerina-platform/lsp4intellij/issues/46#issuecomment-483495679 we can allow extending [LanguageClientImpl](https://github.com/ballerina-platform/lsp4intellij/blob/24c72567ab87686a885793df860ecc411ca4e95c/src/main/java/org/wso2/lsp4intellij/client/LanguageClientImpl.java) through the [LSPExtensionManager](https://github.com/ballerina-platf

[2019-04-18 11:31] gayanper commented on #46
@rasika, agree I didn't went for constructor change because i thought it will change lot of initialization related to where the client is created and stuff. But i see its minor and non risky change. If we move the LanguageClient to be taken by the extension. What should we do about the `LanguageServerDefinition.createLanguageClient` method ? Should be remove it and may be use a factory which makes

[2019-04-18 11:40] rasika commented on #46
Yes we can remove `LanguageServerDefinition.createLanguageClient` since it just initializes the `LanguageClientImpl`. Further, we need to get default `LanguageClientImpl()` when `LSPExtensionManager || LSPExtensionManager.getExtendedLanguageClient()` is NULL.

[2019-04-18 11:43] NipunaRanasinghe commented on #46
@rasika Currently we are allowing the user to extend only the  `DefaultRequestManager` since it does all of the LSP request handling (including the `LanguageClient` requests ). But as you suggested we can change the implementation to get a ExtendedLanguageClient through the LSPExtentionManager as well.  Shall we proceed with that approach??

@gayanper I think we can proceed with your suggestion to

[2019-04-18 12:17] gayanper commented on #46
@NipunaRanasinghe to make things aligned what if we rename the LanguageClientImpl as DefaultLanguageClient ?

[2019-04-18 12:20] NipunaRanasinghe commented on #46
@gayanper +1 :)

[2019-04-18 15:07] gayanper commented on #44
Should be fixed by https://github.com/ballerina-platform/lsp4intellij/pull/45

[2019-04-18 15:13] gayanper commented on #41
@rasika @NipunaRanasinghe what do you think about this implementation, if you are ok i can create a PR for this, for now i have added the `ServerListener` in `LanguageServiceDefinition` since i didn't want to force the consumer implementation extension just to send this message. But since the plan is to handle things through extensions, please let me know if we should add support for `ServerListen

[2019-04-22 15:27] gayanper opened #54 "EditorEventManager.java fail to compile with Intellij 2019 and run in Intellij 2019"
https://github.com/ballerina-platform/lsp4intellij/blob/9344b0631fa00c5ed151e4dae58a97c972568425/src/main/java/org/wso2/lsp4intellij/editor/EditorEventManager.java#L520

The code at above line does not compile with IntelliJ 2019. The reason for that is the constructor has been changed since it is not a considered as part of the public API. Shouldn't we use the provided com.intellij.codeInsight.dae

[2019-04-22 15:56] gayanper commented on #54
What if we change the method like this ? i cannot test this since i don't have a language server plugin which has inspections

[code]

[2019-04-23 03:53] rasika commented on #54
+1 to use factory method. @NipunaRanasinghe shall we test this change?

[2019-04-23 04:03] NipunaRanasinghe commented on #54
@gayanper @rasika +1 to use `LocalInspectionsPassFactory`. Lets proceed with it.. I'll verify with IDEA 2019.1 and send the PR. @gayanper Thanks for pointing this out! :)

[2019-04-23 04:07] gayanper commented on #4
@NipunaRanasinghe @rasika I have created a gitter channel for this plugin to collaborate at https://gitter.im/ballerina-platform-lsp4intellij/community

I have already invited you into it. I hope with that we can avoid this kind of [question] issues. If a [question] is reoccurring that we can move to a FAQ in the wiki. What do you think ?

[2019-04-23 06:26] gayanper opened #56 "New Timeout API doesn't work"
The timeouts which are added into `org.wso2.lsp4intellij.requests.Timeout#setTimeouts` doesn't reload the constants in the class. For example this cause the LanguageServerWrapper to use the old INIT timeout which it was initialized at the class loading time.

IMO we should have the timeouts in the map than in constants, and read timeout through a getter method which will return the overridden one

[2019-04-23 06:27] gayanper commented on #56
@NipunaRanasinghe was this working with your language client ?

[2019-04-23 08:33] NipunaRanasinghe commented on #56
@gayanper Seems I've missed to update those few places with the new change. :( I'll add the fix.

[2019-04-24 04:34] NipunaRanasinghe commented on #54
@gayanper I tried with the above suggestion but ended up with an assertion error when triggering inspections, as follows.

[code]
Am I doing something wrong?

[2019-04-24 05:04] gayanper commented on #54
I checked the intelliJ source code and it seem we might need to take the factory from `project.getComponent(LocalInspectionsPassFactory.class)` that's how they have done for `ShowAutoImportPassFactory`  at https://sourcegraph.com/github.com/JetBrains/intellij-community@38dd8b9a8214fd577e0b4109c221e15cb55b24ae/-/blob/platform/lang-impl/src/com/intellij/codeInsight/daemon/impl/DefaultHighlightInfoPr

[2019-04-24 06:52] gayanper commented on #54
@NipunaRanasinghe hope the above information help you up to some extend. is it working now ?

[2019-04-24 09:49] NipunaRanasinghe commented on #54
@gayanper Yeah it was very helpful indeed! :) I'll send the PR with revamped inspection implementation. Thanks!

[2019-04-24 09:57] NipunaRanasinghe commented on #32
@gayanper Shall we close since you have added this feature by #38?

[2019-04-24 09:58] #32 closed

[2019-04-24 10:00] NipunaRanasinghe commented on #4
@gayanper You just made our life easier! :D I'm so +1 for this.

[2019-04-24 11:37] nixel2007 commented on #20
Still have this issue on idea-2019 branch:

[code]

[2019-04-24 13:23] #56 closed

[2019-04-24 13:25] NipunaRanasinghe commented on #27
Closing in favor of #36.

[2019-04-24 13:25] #27 closed

[2019-04-24 13:29] #54 closed

[2019-04-24 16:46] gayanper opened #59 "[critical bug] Duplicate entries when applying a code completion"
When applying code completion a duplicate value is inserted. Following is a animation which shows the problem.

[2019-04-24 16:51] gayanper commented on #59
For some reason i cannot attach the raw mp4 file, so i have zipped it.
[Screencast.zip](https://github.com/ballerina-platform/lsp4intellij/files/3113362/Screencast.zip)

[2019-04-25 02:21] NipunaRanasinghe commented on #59
@gayanper Unfortunately I couldn't reproduce the issue with ballerina language server :? Is there any chance that your server response contains duplicated entities? could you please debug and verify?

[2019-04-25 02:27] gayanper commented on #59
I checked the same lang server with eclipse, but the problem is not there. Strange. But i will check the idea implementation and update this issue

[2019-04-25 16:52] gayanper commented on #59
@NipunaRanasinghe i debugged the plugin, there are no duplicate completions, what i found out was that, when selecting the completion the provided lookupString (in our case label or insertText) gets inserted into the editor and they the TextEdit gets inserted in front of it. I'm not really sure why that it happens nor the contract of the LookupElementBuilder :(. Hope this helps you the trouble sho

[2019-04-26 05:23] gayanper commented on #59
@NipunaRanasinghe may we might have missed some methods when converting to java https://sourcegraph.com/github.com/gtache/intellij-lsp@master/-/blob/intellij-lsp/src/com/github/gtache/lsp/editor/EditorEventManager.scala#L280:7-280:17

[2019-04-26 05:34] NipunaRanasinghe commented on #59
@gayanper Thanks for the observations. I'll have a look. :)

[2019-04-26 05:38] NipunaRanasinghe commented on #46
@gayanper As per our gitter chat, could you please check if we've lose any other commit apart from removing LanguageClientImpl? :) I can replace the class but not sure whether it'll affect your implementation.. If  not, I can proceed.

[2019-04-26 06:00] gayanper commented on #46
@NipunaRanasinghe every thing is there, only thing that remains is the duplicate Impl class.

[2019-04-26 07:53] NipunaRanasinghe commented on #44
Closing the issue since fixed by #45.

[2019-04-26 07:54] #44 closed

[2019-04-26 07:57] NipunaRanasinghe commented on #46
Closing the issue since fixed with #52 and #62. @gayanper Thanks a lot for working on this!

[2019-04-26 07:57] #46 closed

[2019-04-26 16:55] gayanper commented on #59
@NipunaRanasinghe please check this fix if its works fine with your language editor as well. https://github.com/ballerina-platform/lsp4intellij/pull/63

[2019-04-27 16:39] gayanper opened #64 "random error which opening a different project in the same window"
When opening a different project in same window while files are open which are attached to running LS, the following error is thrown
[code]

[2019-04-27 16:42] gayanper opened #65 "random error with goto symbol"
[code]

[2019-04-27 17:21] nixel2007 commented on #64
#20 &

[2019-04-29 04:34] NipunaRanasinghe commented on #59
@gayanper Unfornately this fix breaks ballerina code completion :) Will update you after observing the reason

[2019-04-29 04:50] NipunaRanasinghe commented on #59
@gayanper I think I found the reason. lsp4j specification, text that is inserted when selecting a completion should be fetched according to the following priority.
1. label
2. textEdit
3. insertText

You can refer the documentation at https://github.com/eclipse/lsp4j/blob/58bd73af0b7b62610e626aaaf1a625c1d57ccb1d/org.eclipse.lsp4j/src/main/xtend-gen/org/eclipse/lsp4j/CompletionItem.java.

Shall we

[2019-04-29 05:04] NipunaRanasinghe commented on #64
@gayanper Shall we close this in favor of #20? :)

[2019-04-29 05:45] gayanper commented on #59
Hmmmm sure, will you have time to look at it ? Otherwise i can take look at it tonight 🙂

[2019-04-29 05:59] NipunaRanasinghe commented on #59
@gayanper I was gonna tell you that I can work on this if you have less time :) I'll start working on the fix.

[2019-04-29 06:06] gayanper commented on #59
Thanks @NipunaRanasinghe

[2019-04-29 06:32] gayanper commented on #65
This happens when the Show symbols in invoked with out starting any of the language servers.

[2019-04-29 11:25] gayanper commented on #20
This also happens if you try to close a inactive editor while a different editor is active

[2019-04-29 11:25] #64 closed

[2019-04-29 11:33] gayanper opened #66 "Error when opening up the run configuration dialog"
This happens when the run configuration dialog is opened.

[code]

[2019-04-29 15:14] gayanper commented on #59
@NipunaRanasinghe shall i close my PR since you are working on this now ?

[2019-04-29 16:07] gayanper commented on #59
@NipunaRanasinghe never mind i had some spare time after fixing the symbol issue, so i fixed this as well according to you suggestions. Lets me know how it works now with the BAL LS.

[2019-04-30 03:50] NipunaRanasinghe commented on #20
@gayanper Thanks for the clue. I'll work on the fix :)

[2019-04-30 05:02] gayanper opened #68 "error when opening editor for attached sources"
[code]
This happens when opening a attached source file, for example if you have a library with source jar attached and if you open that file the above error is thrown.

[2019-04-30 07:59] gayanper opened #69 "error when opening a new IDE window with file opened"
[code]

This happen when you are working with the one IDE window with a file bounded to LS and then you decide to open a different project in a new IDE window which also has a opened file which will bounded to a LS.

[2019-04-30 08:06] gayanper opened #70 "error in inspections when trying to open and close files"
[code]

[2019-05-02 06:44] #65 closed

[2019-05-03 04:07] gayanper commented on #20
This also happened when i try to close a editor as soon as it is opened as well.

[2019-05-03 06:19] gayanper commented on #70
Another error
[code]

[2019-05-03 08:48] NipunaRanasinghe commented on #66
Closing hence fixed with #71

[2019-05-03 08:49] #66 closed

[2019-05-03 09:41] gayanper commented on #70
Another error when the LS is started but due to some conditions that doen't match the LS don't take in the project files. example: The STS4 want take in the project if it cannot fine spring jars in the classpath.

[code]

[2019-05-04 10:05] #68 closed

[2019-05-04 10:06] NipunaRanasinghe commented on #68
Closing since fixed by #74. @gayanper Really appreciate your contributions towards the plugin stability

[2019-05-04 15:37] gayanper commented on #68
@NipunaRanasinghe I think this is a great plugin, i see a future where we can add more language support to IDEA, so it will be my pleasure to help you guys with what i can to take this forward.

[2019-05-05 07:26] gayanper commented on #41
This improvement must be fixed by https://github.com/ballerina-platform/lsp4intellij/pull/53. Shall we close this ?

[2019-05-05 07:28] gayanper commented on #26
@NipunaRanasinghe shall close this as well since it is now supported by https://github.com/ballerina-platform/lsp4intellij/pull/52

[2019-05-05 07:57] nixel2007 commented on #41
@gayanper #53 is about initial configuration request, isn't it? what about another configuration request, invoked from client? does #52 provide a way to invoke it? could you provide small code example for it?

[2019-05-05 14:47] gayanper commented on #41
@nixel2007 i think you can directly invoke `IntellijLanuageClient.didChangeConfiguration` or am i missing something ?

[2019-05-05 16:00] nixel2007 commented on #41
@gayanper looks like i've missed it somehow. thanks!

[2019-05-06 03:33] NipunaRanasinghe commented on #69
@gayanper Does this occur when you open the new project in the same window or a new window?

[2019-05-06 03:35] NipunaRanasinghe commented on #26
@gayanper Yeah we can close this now I guess :)

[2019-05-06 03:35] #26 closed

[2019-05-06 03:40] NipunaRanasinghe commented on #41
@gayanper  Yeah we can close this now. Again, Thanks for your work!

[2019-05-06 03:40] #41 closed

[2019-05-06 04:14] gayanper commented on #69
@NipunaRanasinghe this happened to me when i open in a new window.

[2019-05-06 09:20] gayanper commented on #69
Some times this error is thrown as well, i got this twice today :)
[code]

[2019-05-06 16:54] gayanper commented on #20
I think i found the problem,
1. its seems that all documentOpened calls are made through pooled threads. So if the opened document count exceeds the pool size they operation are waiting in the thread queue. while they are in the queue if we start closing the document this error happens.

2. After the first problem if you did close all files, then the documentOpen requests in the queue get executed

[2019-05-07 08:17] rasika commented on #70
First error, This is due to `uri` param being NULL in [EditorEventManagerBase.java#L93](https://github.com/ballerina-platform/lsp4intellij/blob/master/src/main/java/org/wso2/lsp4intellij/editor/EditorEventManagerBase.java#L93). Let's add a NULL check in [LSPInspection.java#L62](https://github.com/ballerina-platform/lsp4intellij/blob/master/src/main/java/org/wso2/lsp4intellij/contributors/inspectio

[2019-05-07 08:17] rasika commented on #69
Related to https://github.com/ballerina-platform/lsp4intellij/issues/70

[2019-05-07 08:43] NipunaRanasinghe commented on #70
@gayanper Is the second error always occurs for a specific code file? If so, could you please provide a code example to reproduce? :)

[2019-05-07 08:54] rasika commented on #35
We need to check for non-existence of requested methods [here](https://github.com/ballerina-platform/lsp4intellij/blob/24c72567ab87686a885793df860ecc411ca4e95c/src/main/java/org/wso2/lsp4intellij/client/DynamicRegistrationMethods.java#L43). Let's return an `Optional<DynamicRegistrationMethod>`. WDYT?

[2019-05-07 09:10] gayanper commented on #70
@NipunaRanasinghe it was a specific file. And i will try that file again and may be upload it since the code was from my pet project

[2019-05-07 09:12] gayanper commented on #70
@rasika The URI becomes null if the VirtualFile is a LightVirtualFile so IMO its better to do the same FileUtils.isSupported check which i added recently for this rather than just checking NULL, What do you think ?

[2019-05-07 09:15] gayanper commented on #35
@rasika You mean the return value of the method ? But probably we will need to change the logic which tries to access the first element without trying look at the size of the list right ?

[2019-05-07 09:48] rasika commented on #70
+1. Let's add `FileUtils.isFileSupported`

[2019-05-07 10:01] gayanper commented on #20
@NipunaRanasinghe @rasika have you had time to look into this ? if you guys are ok i can try to start thinking on solving this issue.

[2019-05-07 10:05] rasika commented on #35
Yes. I meant below;

[code]

[2019-05-07 10:41] rasika commented on #20
Didn't had time to check on this. Please go ahead, I'll also try to look into it.

[2019-05-07 15:03] gayanper commented on #20
And also i found that when opening lot of files, if the screen space is not enough to show all file tabs, the hidden tab editors are closed by IDEA, this also cause open close synchronous issue. And found a bit questionable code at
[code]
which iterate through all the open editors and try to remove listeners. Should we only try to remove the listeners on the removed EditorEventManager ? @rasika @N

[2019-05-07 15:13] gayanper commented on #20
@rasika @NipunaRanasinghe please check this https://github.com/ballerina-platform/lsp4intellij/pull/75

[2019-05-08 17:07] gayanper opened #76 "DefaultRequestManager#didChangeWatchedFiles is called from the wrong project"
To reproduce this,
1. Open a Intellij project A and open a file which is bound to a LS.
2. Open a another project B in a new window and open a file which is not bounded to the above LS or any other LS.

The project A language server receives a didChangeWatchedFiles request with the file from project B. This can cause problems in workspace symbols. We probably need to only loop and send this reques

[2019-05-08 17:34] gayanper commented on #76
This may need to come from the place we create the LSWrapper. And also when looking up LSWrapper we need to pass in the ext and window project

[2019-05-09 06:45] NipunaRanasinghe commented on #76
@gayanper  If so, I think we need to do a significant refactoring work right? Hopefully I'll be able to have a look by the next week since still working on a critical plugin feature. :)

[2019-05-09 06:50] gayanper commented on #76
@NipunaRanasinghe i think the `extToLanguageWrapper` will keep the server wrapper against the project root URI and extension, so i think we might only have few areas to change, I will start looking into this then after i verify the completion changes you have done :).

[2019-05-10 01:14] gayanper commented on #76
@NipunaRanasinghe i was able to fix this issue with few changes in 2-3 files. The only thing that worries me is that intellij lack a way to provide current projects that a virtualfile belongs to. So i had to write a intellij file index search to find that information. I will test my changes more to see if that search has any negative effect. If everything is fine i will create a PR so that we can

[2019-05-10 14:58] gayanper commented on #76
@NipunaRanasinghe @rasika please check https://github.com/ballerina-platform/lsp4intellij/pull/77 and let me know your thoughts.

[2019-05-10 15:07] gayanper commented on #70
@rasika @NipunaRanasinghe Please review the fix at https://github.com/ballerina-platform/lsp4intellij/pull/78

[2019-05-10 15:09] gayanper commented on #69
I think now this bug should be completely fixed by the recent changes, shall we close this ?

[2019-05-12 13:09] NipunaRanasinghe commented on #70
Closing hence fixed by #78. @gayanper Thanks again!

[2019-05-12 13:09] #70 closed

[2019-05-13 03:12] NipunaRanasinghe commented on #20
Closing since fixed by #75.

[2019-05-13 03:14] #20 closed

[2019-05-13 03:16] NipunaRanasinghe commented on #48
Closing since fixed by #73. Credit goes to @gayanper once more :)

[2019-05-13 03:19] #48 closed

[2019-05-13 03:21] NipunaRanasinghe commented on #59
Closing since fixed by #63.

[2019-05-13 03:21] #59 closed

[2019-05-13 03:24] NipunaRanasinghe commented on #69
@gayanper Yeah couldn't reproduce this after the latest improvements you added :) thanks for your good work!

[2019-05-13 03:24] #69 closed

[2019-05-19 12:15] gayanper opened #79 "[api improvement] add more components to ClientContext."
When implementing customer LanguageClient implementations the need arises to access the current project this LanguageClient is serving and the instance of Requestmanager to use for contacting the language server.

Therefore the following must be expose through the LanguageClient's context
- Project
- RequestManager

[2019-05-21 08:00] NipunaRanasinghe commented on #76
Closing since fixed with #77.

[2019-05-21 08:00] #76 closed

[2019-05-21 08:03] NipunaRanasinghe commented on #79
Closing since fixed by #80. @gayanper Thanks for working on this :)

[2019-05-21 08:03] #79 closed

[2019-05-24 08:00] gayanper opened #83 "[critical] Performance issue when typing due to inspections"
This a problem when the project is is a medium size project. This also cause multiple Sonar analysis jobs to be triggered as well since Sonar is part of the inspections

[snapshot-1558684648440.zip](https://github.com/ballerina-platform/lsp4intellij/files/3215729/snapshot-1558684648440.zip)

[2019-05-24 08:00] gayanper commented on #83
@NipunaRanasinghe can we see if we can optimize this ?

[2019-05-26 07:55] gayanper commented on #83
Fix is provided in https://github.com/ballerina-platform/lsp4intellij/pull/86

[2019-05-28 09:26] NipunaRanasinghe opened #87 "Add documentation for enhanced language id support"
**Description**
$subject.

**Related PRs**
#85

[2019-05-28 09:29] #35 closed

[2019-06-11 04:09] #47 closed

[2019-06-18 14:14] matthewmichihara opened #96 "Diagnostics quickly disappear in the editor"
**Description:**
I've set up a sample IntelliJ plugin that depends on the `lsp4intellij` library. I've configured it to talk to the lsp-sample server at https://github.com/microsoft/vscode-extension-samples/tree/master/lsp-sample. This language server returns diagnostics for words that are in all caps.

This is the result:
![diagnostics](https://user-images.githubusercontent.com/79073/59691170-991

[2019-06-20 20:55] matthewmichihara opened #100 "Hover tooltips don't disappear"
**Description:**
I think there are two related issues here:
1. Long hover text does not wrap. For example, I expected the text in the following gif to wrap to a few lines and not extend beyond the editor window.
2. When hover text extends beyond the editor window, it doesn't clear itself on mouse movement.

![out](https://user-images.githubusercontent.com/79073/59880478-1e4af480-937b-11e9-9699-a2b

[2019-06-20 21:54] matthewmichihara opened #101 "[question / feature request] Completion snippet support"
As part of the [LSP spec](https://microsoft.github.io/language-server-protocol/specification#initialize), clients can declare the capability for `snippetSupport` in code completions.

Description from the docs:
[code]

lsp4intellij currently has this disabled:
https://github.com/ballerina-platform/lsp4intellij/blob/master/src/main/java/org/wso2/lsp4intellij/client/languageserver/wrapper/LanguageSe

[2019-06-20 22:48] matthewmichihara opened #102 "Unable to use a YAML language server with the JetBrains YAML plugin"
**Description:**
I have a simple language server registered for the `yaml` extension that returns `hello world` on hover requests. This is bundled into a sample plugin.

1. If I open a YAML file in IDEA with just my sample plugin enabled, on hover I am able to see those `hello world` tooltips:
![out](https://user-images.githubusercontent.com/79073/59885636-e5fee280-9389-11e9-82bd-1a903136f1f9.gif)

[2019-06-24 15:11] NipunaRanasinghe commented on #101
@matthewmichihara  Thanks for bringing this up!  This is already in the roadmap and hopefully will be able to start working on this in the next few weeks, after adding signature help. :)

[2019-06-24 16:10] NipunaRanasinghe commented on #102
Oh I see the problem.. This is because YAML plugin has already  registered a `DocumentationProvider` for YAML (As you can see as `YamlJsonSchemaDocumentationProvider`) and since our language client is designed to give priority to the language specific plugins (The reason is that in most of the times specific plugins are more powerful than the their language servers at the moment.)  this is kind of

[2019-06-24 17:09] matthewmichihara commented on #102
I see, that makes sense, thanks for the explanation! Since this is working as expected, I'll go ahead and close this.

[2019-06-24 17:09] #102 closed

[2019-06-25 15:05] NipunaRanasinghe opened #103 "Quick Documentation provider is not working"
**Description:**
$subject.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-07-02 16:02] NipunaRanasinghe commented on #96
As per the gitter discussion, this should be fixed by @gayanper 's #86.. Lets get it merged as soon as after adding the required minor fixes to it.

[2019-07-02 16:05] NipunaRanasinghe commented on #100
@matthewmichihara Thanks for reporting this... As per the Gitter discussion, I'll have a look on implementing the hover support using `DocumentationProvider` or else will do a patch for this one. :)

[2019-07-06 00:47] dinvlad opened #106 "didChangeWatchedFiles is called for non-language files"
**Description:**

For some reason, my language server (based on [pygls](https://pygls.readthedocs.io/en/latest/)) receives `workspace/didChangeWatchedFiles` even for the files that don't match the language extension.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**
`0.91.0`

**OS, DB, other environment details and versions:**
macOS 10.13.6
IntelliJ Community 2019.1.3

[2019-07-08 05:37] NipunaRanasinghe commented on #106
Thanks you so much bringing this up as it seems like we've missed the guarding for unrelated files in file event handling, which might also causes a performance hit. I've refactored the client to filter-out files which do no have any language server definitions attached.

[2019-07-08 17:56] dinvlad commented on #106
Perfect, thanks!

[2019-07-09 03:27] Chandlercjy opened #109 "Support clangd"
**Description:**
clangd will fail to update file due to Change's rangeLength (1) doesn't match the computed range length (0)..

**Suggested Labels:**
Bug

**Suggested Assignees:**

**Affected Product Version:**
all

**OS, DB, other environment details and versions:**
Windows 10

**Steps to reproduce:**

[code]

1. like matthewmichihara/sample-ballerina-plugin, run  `clangd.exe` with `-log=verbose

[2019-07-09 03:38] Chandlercjy opened #110 "Is it possible to pass an env to LSP?"
**Description:**
Is it possible to pass an env to LSP?

For example,
when starting clangd, I want to specify a CPATH for it.
I tried to send RawCommandServerDefinition like this:
[code]
but it will not recognize the `set` command.

Do you have any other suggestion?
Thank you!

**Suggested Labels:**
Feature

[2019-07-09 05:12] nixel2007 commented on #110
Try `cmd /C` surrounding.

[2019-07-09 05:51] Chandlercjy commented on #110
Sorry I don't understand.  Could you elaborate?

[2019-07-10 00:25] dinvlad commented on #110
Same issue here. We'd like to be able to set PATH for the server process. Since the server process inherits the environment from the plugin Java process, the only ways to set the environment currently seem to be:

1) modify PATH of the IntelliJ plugin process itself. Is there a standard way to do that, other than modifying the IntelliJ launcher?

2) create a wrapper script for the server as sugges

[2019-07-10 02:05] Chandlercjy commented on #110
Agreed. For now, I will use a wrapper script.

[2019-07-10 09:13] NipunaRanasinghe commented on #109
@Chandlercjy Seems like your lang server is using incremental synchronization which is less reliable w.r.t. full synchronization.

If we remove the line 1160, `rangeLength` will be null, which might cause potential LSP violation and unexpected results from the servers which do not have a null guarding for it. could you please debug and see which is the correct range (Change's rangeLength or comput

[2019-07-15 12:13] #106 closed

[2019-08-06 09:29] NipunaRanasinghe commented on #110
Hey folks! Forgive me for not being around for a while :/ It's been a hell of a month with our language release. I see your valid requirement so will add this to our task list and make this available with the next release :)

[2019-08-06 10:54] NipunaRanasinghe opened #117 "Diagnostics, code actions and renaming support is not working in IDEA 2019.2"
**Description:**
$subject. It seems like there are few low-level API changes have been introduced in the IntelliJ platform with the latest IDEA release (2019.2).

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**
IntelliJ IDEA 2019.2

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-08-07 02:43] NipunaRanasinghe opened #118 "LS status widget is not properly disposed in some contexts"
**Description:**
$subject.

Example: When opening a new project in the same window, status widget of the closed project is not disposed and therefore both of the status icons remains.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-08-16 14:03] NipunaRanasinghe commented on #117
Closing since fixed by #119 and #86.

[2019-08-16 14:03] #117 closed

[2019-08-16 17:00] dinvlad opened #121 "Goto Definition does not "go" to definition"
**Description:**
Command-clicking on a symbol should "_jump_ to definition", if implemented by LSP.

**Affected Product Versions:**
IntelliJ 2019.1.3, 2019.2.1 (EAP)

`com.github.gayanper:lsp4intellij:e12a9280264ff92f3e753774d8ae30c7f749602e`

**OS, DB, other environment details and versions:**
Mac OS 10.14.6

**Steps to reproduce:**
1. Implement `textDocument/definition` handler in the language s

[2019-08-16 17:31] dinvlad commented on #121
From a brief check, it seems that the offending line
https://github.com/ballerina-platform/lsp4intellij/blob/884c517bf63f0731905b3a14b3ce678a329b7f42/src/main/java/org/wso2/lsp4intellij/editor/EditorEventManager.java#L377

should indicate the position to jump to, instead of just the file. I'll create a PR.

[2019-08-17 06:49] NipunaRanasinghe opened #123 "Language server connection breaks, if one of the watched (connected ) files are moved or renamed"
**Description:**
Please note the $subject since aforementioned events are not implemented and handled by `FileEventManager`.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-08-17 19:56] #121 closed

[2019-08-20 08:18] #123 closed

[2019-08-28 11:23] nixel2007 opened #126 "Exception at LSPAnnotator. **** guava"
**Description:**

Current lsp4intellij throws exception at LSPAnnotator in intellij-language-1c-bsl (with BSL Language Server).

[code]

**Affected Product Version:**

**OS, DB, other environment details and versions:**

* windows 10 pro
* IntelliJ IDEA Ultimate 2019.2.1
* AdoptJDK 11
* lsp4intellij a5e62767d0a8c734c305a7bba60bd62bd2aa9273
* intellij-language-1c-bsl [commit 38348a2a61f49af995ce6ce

[2019-08-29 15:34] nixel2007 opened #128 "Support of `textDocument/documentSymbol`?"
Any plans or ideas for $subject?

[2019-08-30 08:55] #126 closed

[2019-08-30 08:56] NipunaRanasinghe commented on #83
Closing hence fixed by #86. @gayanper Thanks for your awsome work!

[2019-08-30 08:56] #83 closed

[2019-09-03 06:37] #118 closed

[2019-09-04 03:53] NipunaRanasinghe commented on #128
@nixel2007 Maybe we can expose this using IntelliJ structure view API (https://www.jetbrains.org/intellij/sdk/docs/reference_guide/custom_language_support/structure_view.html)

Hopefully I'll be able to work on this in the next few weeks after adding completion snippet support. :) Do you have any blocker for due to the missing $subject?

[2019-09-04 07:15] nixel2007 commented on #128
It's not a blocker for me.
Currently BSL LS supports not many features:
* diagnostics
* code actions (quick fixes for diagnosics)
* file formatting
* document symbols (no workspaceSymbols support so far)
* folding
* code lens

https://1c-syntax.github.io/bsl-language-server/en/

So 50% of BSL LS functionality are supported in lsp4intellij :)
I thought that if you already did the workspaceSymbol su

[2019-09-05 10:06] NipunaRanasinghe opened #131 "NPE in code completion if the completion item kind is Null"
**Description:**
Completions items which does not have a completion kind are currently not shown due to $subject.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**
0.93.0 and below

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-09-08 14:06] #131 closed

[2019-09-18 08:41] NipunaRanasinghe opened #137 "Add line-based code actions support"
**Description:**
Currently we only support diagnostics bound code actions and the aforementioned feature is available in the vs code language client. Basically we will have to add a caret listener and send a code actions request each time when the caret position is changed.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and vers

[2019-09-23 08:17] NipunaRanasinghe commented on #96
@matthewmichihara Shall we close this if this is fixed by #86? :)

[2019-09-25 09:05] NipunaRanasinghe commented on #137
Closing since this is fixed with #137.

[2019-09-25 09:06] #137 closed

[2019-09-25 09:16] NipunaRanasinghe opened #142 "Language server features do not work as expected in split editor mode (vertically/horizontally)"
**Description:**
Please note the $subject. Since our current implementation is based on the editor uri (uri of the opened file), when there are two opened editors for the same file (this is possible in split mode) second editor will not be connected to the language server.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versi

[2019-09-26 13:58] Seiphon opened #143 "When using "=" as trigger character, code completion doesn't work well"
Hello guys:

I am trying to use idea to support code completion for properties file.

**Description:**
And I set the "=" as trigger character on my LSP server site, the code as follows:
`CompletionOptions completionOptions = new CompletionOptions(true, Arrays.asList("="));`

But when I type "=" on editor, there are always wrong completion Items displayed. However when I using eclipse and vscode, I

[2019-09-27 15:22] gayanper opened #145 "Random error when invoking symbols"
[code]

[2019-09-27 15:43] gayanper commented on #145
Fix by https://github.com/ballerina-platform/lsp4intellij/pull/146

[2019-09-27 15:43] #145 closed

[2019-09-30 07:30] Seiphon commented on #143
I found the issues is caused by JavaClassReferenceCompletionContributor which is a class inside intellij.
<completion.contributor implementationClass="org.wso2.lsp4intellij.contributors.LSPCompletionContributor" id="LSPCompletionContributor" language="any" **order="first"**/>
I fixed the issue by add order="first" property for now.
Thanks guys, I will close this issue.
Thank you

[2019-09-30 07:30] #143 closed

[2019-10-21 02:56] MagicRUBICK opened #153 "Do we have performance test now?"
eg: a switch or path configuration to export the lsp4intellij **client** and **server** performance.

[2019-10-28 10:38] NipunaRanasinghe commented on #110
@gayanper @nixel2007 @Chandlercjy @dinvlad I appreciate your suggestions on the $subject.

I thought of adding support for creating and passing custom `ProcessBuilder` instances via a new type of language server definition type as follows.
[code]

So this change will not break the existing API (`CommandServerDefinition`) and the user will have the full accessibility for the process to be created.

[2019-10-28 10:44] NipunaRanasinghe commented on #96
Closing since this should be fixed by #86 (credits should go to @gayanper for his amazing effort on this, as always!)

@matthewmichihara please be kind enough to reopen/create an issue if you'll have any issues of the new implementation. :)

[2019-10-28 10:44] #96 closed

[2019-10-28 10:48] NipunaRanasinghe commented on #153
@MagicRUBICK Sorry we don't have any implementation for the $subject. You have any suggestions on this? and any contributions will be more than appreciated :)

[2019-10-28 12:18] gayanper commented on #110
What are the use cases that we are trying to cover with this new definition ?

[2019-10-28 12:28] NipunaRanasinghe commented on #110
@gayanper one of the critical requirements is being already discussed here(modifying the env parameters) :) So I thought of exposing the process directly to the user so that they can have more controllability over their language server process.

[2019-10-28 12:30] gayanper commented on #110
I think its a valid point. Specially when start non java based language servers. +1 from my side for this change

[2019-10-28 12:37] NipunaRanasinghe commented on #110
Great!

So we can either
1. replace the `RawCommandServerDefinition` with the new API, or
2. add the `ProcessServerDefinition` in addition to the `RawCommandServerDefinition` option.

IMO would be better since then this change will not break the existing lang-client based user implementations. WDYT?

[2019-10-28 13:11] gayanper commented on #110
What if we introduce a new co structure with processbuilder and change our internal implementation to use it. We can keep the existing constructors and convert the command array to a process builder. WDYT ?

[2019-10-28 14:47] nixel2007 commented on #110
also we could add overrided constructor to existing one.

[2019-10-29 03:01] NipunaRanasinghe commented on #110
@gayanper @nixel2007  Yeah of course we can! My only concern is, would it be okay to have a user API such as ```RawCommandServerDefinition(string ext, ProcessBuilder process)```? IMO it would be better to have a new type of server definition for this, since the input won't be a `raw command` anymore. Or else we can think of an common definition name with overloaded constructors to accept either a

[2019-10-29 07:57] nixel2007 commented on #110
Agreed.

abstract thought - looks like API has "overloaded" org/wso2/lsp4intellij/client/languageserver/serverdefinition package. So much server definition types and ways to define LS connection. do we REALLY need it?

[2019-10-29 09:07] NipunaRanasinghe commented on #110
@nixel2007 That's a good question! These server definition types are inspired by the gtache's original implementation, but it seems command based server Definitions would be sufficient for now. So maybe we can get rid of the rest by revamping the server definition implementation, which will require a careful revamping process to avoid regressions.

[2019-11-01 08:24] MagicRUBICK opened #154 "[Bug] namespace parsing error in TVM project"
TVM project link: https://github.com/dmlc/tvm

File related path: include/tvm/attrs.h

picture
![issue](https://user-images.githubusercontent.com/22075197/68012097-148bb300-fcc4-11e9-8f4a-f13e58c89a72.png)

[2019-11-01 08:26] MagicRUBICK opened #155 "[Feature] do we support cpp file folding in headers?"
pic:
![issue](https://user-images.githubusercontent.com/22075197/68012191-57e62180-fcc4-11e9-9ef8-88311887e9eb.png)

[2019-11-01 08:27] #154 closed

[2019-11-01 08:27] #155 closed

[2019-11-07 06:09] gayanper opened #158 "Error when changing classpath by re-importing a project while language server is not running"
[code]

[2019-11-08 06:13] NipunaRanasinghe opened #159 "Code actions NPE"
**Description:**
Following exception is thrown from the library when the code actions are being invoked.

[code]

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-11-09 11:32] gayanper commented on #158
@NipunaRanasinghe  seems like the concurrent issue to me. I guess that the server is shutting down between the execution of line 44-45 in org.wso2.lsp4intellij.client.languageserver.wrapper.MessageHandler. May be we need a way to synchronize this. double check will of course help here but not 100%. WDYT ?

[2019-11-13 05:42] NipunaRanasinghe commented on #158
@gayanper I'm not sure about the cause but I think maybe we can gracefully handle this by wrapping using a try catch block (at least for now) since `org.eclipse.lsp4j.jsonrpc.json.SteamMwssageConsumer:72` is throwing a `JsonRpcException` for any `IOException`.

[2019-11-13 06:53] nixel2007 commented on #158
@NipunaRanasinghe does lsp4j throw JsonRpcException when it can't deserialize message from LS?
BSL LS  use stdin/stdout for language client - language server communication AND also writes error messages to stdout.
Will it be considered as termination condition in your suggestion?

[2019-11-13 07:09] NipunaRanasinghe commented on #158
@nixel2007 I'm don't have a deeper knowledge on the lsp4j implementation but it seems they use `JsonRpcException` only when accessing the JSON-RPC communication channel fails. So this wont affect the BSL implementation I guess :)

[2019-11-13 07:29] nixel2007 commented on #158
Okay, thank you!

[2019-11-20 11:58] #101 closed

[2019-11-20 11:59] #159 closed

[2019-11-20 12:00] #110 closed

[2019-11-26 03:16] MagicRUBICK opened #163 "[Annotation] in some situation, the diagnostic annotation maybe show in wrong place"
**Description:**
in some low-profile computer, the diagnostic annotation would show in wrong place after reformat code.

![image](https://user-images.githubusercontent.com/22075197/69596456-9b227e80-103d-11ea-80e7-8370fe1c0d89.png)

And I tried to replace the range-based annotation with PsiElement-based annotation(we implemented a PSI tree for our language), the issue was disappear, do you think i

[2019-11-26 03:18] MagicRUBICK opened #164 "[SemanticHighlighting][Beta] We implement this beta feature, do you want it?"
**Description:**
the proposal: https://github.com/microsoft/language-server-protocol/issues/18

[2019-12-03 04:22] NipunaRanasinghe commented on #163
@MagicRUBICK As far as I understand, the particular language server is responsible of sending a new diagnostics map with the updated ranges after formatting a source file. Also, the current works is also valid for the plugins which have not implemented the PSI tree, IMO its better to stick with the current approach :) WDYT?

[2019-12-03 04:23] NipunaRanasinghe commented on #164
@MagicRUBICK yes please! :) It would be great to have this feature implemented.

[2019-12-05 04:13] NipunaRanasinghe opened #166 "Build fails when trying to build using IDEA 2019.3 platform SDK"
**Description:**
Language client cannot be built using IDEA 2019.3 platform SDK due to an potential memory leak detection in `buildSearchableOptions` phase.

Please refer the detailed stack trace below.

[code]

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-12-05 11:32] #166 closed

[2019-12-06 06:48] NipunaRanasinghe opened #169 "Language server connections are not initialized for already opened editors at IDE startup"
**Description:**
Language server connections are not initialized for already opened editors at IDE startup. This might be a regression due to the recent changes.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-12-09 03:38] #169 closed

[2019-12-09 08:59] gayanper opened #171 "Random issue while working in IDE"
`java.lang.Throwable: It's prohibited to access index during event dispatching
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:145)
	at com.intellij.openapi.project.NoAccessDuringPsiEvents.checkCallContext(NoAccessDuringPsiEvents.java:39)
	at com.intellij.util.indexing.FileBasedIndexImpl.ensureUpToDate(FileBasedIndexImpl.java:737)
	at com.intellij.util.indexing.FileBasedIndexImpl.proc

[2019-12-09 09:50] NipunaRanasinghe commented on #171
@gayanper This seems to be an IDEA latest release(2019.3) specific issue.So could you please mention your IDEA version as well?

[2019-12-09 20:06] gayanper commented on #171
@NipunaRanasinghe Yes this is related with IDEA 2019.3

[2019-12-13 09:57] NipunaRanasinghe commented on #171
@gayanper Any progress update on your fix? :) BTW I still suspect this is rather an IntelIiJ issue as this only occurs in 2019.3 release. I also searched for a replacement for `FilenameIndex.getFilesByName()` but no luck either...

[2019-12-13 19:10] gayanper commented on #171
@NipunaRanasinghe just submit my PR please test with your language server. I'm not really happy about the way that we need to handle this, but i also couldn't find another way.

[2019-12-22 09:05] nixel2007 opened #175 "dynamic plugin requirements"
**Description:**

Idea platform 2020.1 will introduce "dynamic plugin" feature - ability to install/upgrade plugins without restart of IDEA.

We should check, if lsp4intellij passes all this requirements.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2019-12-22 09:05] nixel2007 commented on #175
Link

http://www.jetbrains.org/intellij/sdk/docs/basics/plugin_structure/dynamic_plugins.html

[2020-01-07 06:28] NipunaRanasinghe commented on #171
Closing since this is fixed by #174. Thanks @gayanper for working on the fix :)

[2020-01-07 06:28] #171 closed

[2020-01-16 08:24] NipunaRanasinghe commented on #175
@nixel2007 Sorry about the late reply and thank you so much for bringing this up!

I'll work on this and verify once we have the 2020.1 or its EAP available.

[2020-02-03 08:45] ghost opened #179 "A problem in file overview"
**Description:**
If I input too much words in io:println(""),preview interface doesn`t work

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**
windows10 build 19546
IntelliJ IDEA 2020.1 EAP (Ultimate Edition)
Build #IU-201.4515.24, built on January 30, 2020
Non-Bundled Plugins: AceJump, IdeaVIM, Lombook Plugin, com.d

[2020-02-20 05:47] NipunaRanasinghe commented on #179
@AnovaCean Could you please explain what you mean by "preview interface" here? :) Maybe you can simply attach a image/gif, which self-explains what goes wrong.

[2020-03-03 20:43] JorgeGarciaIrazabal opened #183 "Use IntelliJ's "Go To Declaration" configured shortcut instead of CTRL + CLICK"
https://github.com/ballerina-platform/lsp4intellij/blob/7683a2ef60677846aee6dff9a78668f432076bd7/src/main/java/org/wso2/lsp4intellij/editor/EditorEventManager.java#L357

Right now, you are using CTRL + CLICK to go to definition (which is the standard) but IntelliJ allows you to configure it and execute it with different commands. Would it be possible to get the configured short cut of the action a

[2020-03-11 08:31] NipunaRanasinghe commented on #183
@JorgeGarciaIrazabal Thats a good suggestion. I'll check whether IntelliJ has a related API so that we  can honor custom key map configurations :) Thanks for bringing this up!

[2020-03-26 07:46] gayanper opened #184 "Add support for Intellij 2020.1"
I tried testing my STS4 plugin with 2020.1 seems like even though the language server process is started, the messages are not sent to the language server. The language server icon stays yellow forever.

Since this is the upcoming release of IntelliJ we might need to look at what going on soon and apply a fix for it.

[2020-04-02 07:22] NipunaRanasinghe commented on #184
Yeah we should check on that. One possible reason might be registering the client as an application component (application components are not recommended in the dynamic plugin concept which will be available with the 2020.1 release). Thanks for bringing this up.

[2020-04-12 12:43] gayanper commented on #184
I checked the code and it seems it was a issue in the plugin that i have been working on. But it seems that there are some generic type changes in latest IDEA platform which causes compilation errors. But i think that won't be a issue until we try to compile the plugin against 2020.1. Shall we close this issue @NipunaRanasinghe ?

[2020-04-14 06:07] NipunaRanasinghe commented on #184
@gayanper Yeah when I tried to compile against IDEA 2020.1, compilation was failed due to few deprecated icons and type changes in `LSPSymbolContributor`, but the library seems to be running fine so far. Anyway we better keep this opened until we fix the above compilation issues, IMO.

[2020-04-21 18:50] gayanper opened #186 "Assertion error when closing editor"
`java.lang.Throwable: Assertion failed
	at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:174)
	at com.intellij.openapi.diagnostic.Logger.assertTrue(Logger.java:183)
	at com.intellij.openapi.editor.impl.EditorImpl.removeEditorMouseMotionListener(EditorImpl.java:1760)
	at org.wso2.lsp4intellij.editor.EditorEventManager.removeListeners(EditorEventManager.java:1192)
	at org.wso2.lsp4in

[2020-04-21 19:47] gayanper commented on #186
@NipunaRanasinghe if i'm correct this is fixed in latest release right ?

[2020-04-22 05:38] NipunaRanasinghe commented on #186
@gayanper This was actually a regression caused by an external PR, which I fixed in the last release. Could you please try the latest library version and confirm so that we can close this?

[2020-04-22 14:39] #186 closed

[2020-05-18 20:20] gayanper commented on #184
@NipunaRanasinghe following issues stops me from submitting my spring plugin into marketplace

[code]
This is the output from intellij plugin verifier.

[2020-05-20 18:03] gayanper opened #189 "[plugin compat] Internal API usage"
IntelliJ IDEA Ultimate IU-201.7846.29 Compatible.

1 internal API usage
  uses internal API, which is not supposed to be used outside of the IntelliJ Platform.

Internal method usage:
StatusBar.removeWidget(String)

[2020-05-20 18:06] gayanper opened #190 "[plugin compat] usages of scheduled for removal API"
4 usages of scheduled for removal API

StatusBarWidget.PlatformType (2) (scheduled for removal in 2020.2)
  Deprecated enum StatusBarWidget.PlatformType is referenced in
    LSPServerStatusWidget.getPresentation(...). This enum will be removed in 2020.2
  Deprecated enum StatusBarWidget.PlatformType is referenced in
    LSPServerStatusWidget.getPresentation(...). This enum will be removed in 2020.

[2020-05-20 18:26] gayanper commented on #190
```StatusBar.addWidget(StatusBarWidget, String) (1) (scheduled for removal in a future release)``` can wait a little bit more since it doesn't have a removal date yet and the alternative API is only introduced in 2020. @NipunaRanasinghe should we still need to keep the minimum IJ version on 2017 for this library ?

[2020-05-21 09:54] NipunaRanasinghe commented on #190
@gayanper Not really :) The goal is to keep the IDEA compatibility range of the library as wider as possible. But with the continuous platform API changes its being a difficult goal and now we are on 2020.x versions, I also don't think there are many users for 2017.x versions.
So I think it'll be good enough if we can keep the support for 2019.x - 2020.x versions at this points. WDYT?

[2020-05-21 09:58] NipunaRanasinghe commented on #190
yeah if the alternative API is introduced only in 2020.1 platform, it will make the library incompatible even for 2019.x versions. I also think we can wait as they still don't have a removal date for it.

[2020-05-21 10:07] NipunaRanasinghe commented on #189
As far as I remember I also tried to find a proper fix for status icon cluttering issue but got no luck. Did you find any alternative status bar widget API? If not, maybe we can think of alternative ways to indicate the stats like connection status, and connected files, timeouts, etc.

[2020-05-21 10:38] gayanper commented on #190
Yes, I think that's a good idea.

[2020-05-21 10:46] gayanper commented on #189
The recommendation is to use StatusBarWidgetFactory. But I didn't look at it much closer since that API is not available in 2017.

[2020-05-22 16:16] carymrobbins opened #192 "Migrate from plugin components"
From the IntelliJ Platform SDK DevGuide -

https://www.jetbrains.org/intellij/sdk/docs/basics/plugin_structure/plugin_components.html

The link above gives very clear instructions about how to transition components to the proper, modern IntelliJ API.

[2020-05-22 18:12] gayanper commented on #184
@carymrobbins yes those were the same change I did locally to get it compiled. I do see we have switched to build against 2020.1, this might introduce problems with lower versions if we start using new APIs. @NipunaRanasinghe WDYT ?, if we want to be safe I suggest we run the intellij plugin verifier as part of the builds.

[2020-05-22 18:33] carymrobbins opened #193 "NPE in LanguageServerWrapper.isWillSaveWaitUntil"
Appears to happen on the last `return` here -

[code]

[code]

[2020-05-23 08:28] NipunaRanasinghe commented on #184
we've been keeping the minimum compatible version in order to make sure that all our changes + compatibility fixes are doesn't affect the oldest version of the compatible range (and if not, we have to bump the minimum compatible version).  But as you mentioned, we also have to validate against the latest stable version as well. So I'm okay with either approach until we figure out a way validate th

[2020-05-23 08:31] NipunaRanasinghe commented on #192
@carymrobbins this seems to be a duplicate of https://github.com/ballerina-platform/lsp4intellij/issues/175, where we need to get to get rid of creating components to be compatible with the dynamic plugin concept and its requirements.

[2020-05-23 08:33] #193 closed

[2020-05-23 08:48] gayanper commented on #184
The build version in the gradle file will make sure we use 2020.1 for compiling our library. So I think we need the plugin verifier to make sure we are compatible with 2017.3 for example as well.

The plugin verifier can be used locally. See the script https://github.com/izhangzhihao/intellij-rainbow-brackets/blob/2020.1/verifier.gradle and usage https://github.com/izhangzhihao/intellij-rainbow-br

[2020-05-23 16:39] carymrobbins commented on #184
You could also make an "example" plugin as a subproject and run the verifier on that.

[2020-05-23 17:05] gayanper commented on #184
Yes this would make things easy, maybe we could couple it with a simple LSP server and run some automated integration tests in the long run.

[2020-05-26 19:50] carymrobbins opened #198 "LSPPOS outofbounds"
I see a ton of these warnings often -

[code]

I'm not entirely sure what's causing this, just want to document it here for now.

[2020-05-29 09:37] kdiehl commented on #198
I also often come across these LSPPOS outofbounds errors, especially at the end of documents. However, I can not clearly say if it's my fault.

[2020-05-29 13:51] NipunaRanasinghe commented on #198
@carymrobbins @kdiehl Thanks for reporting. I'll see whether I can reproduce this against our language server.

[2020-05-29 13:54] NipunaRanasinghe commented on #184
I also think that this is a good suggestion and the easiest way to run the version verifier.  Lets do this.

[2020-05-29 13:57] NipunaRanasinghe commented on #189
As of now we have to bump the minimum version anyway, I think its high-time to migrate to the recommended API. Lets keep this is in our roadmap.

[2020-05-31 03:25] carymrobbins opened #200 "Annotation Deprecation"
There are multiple usages of the deprecated annotation API, namely the use of `AnnotationHolder.create{Info,Warning,Error}Annotation()` which returns an `Annotation`. These should be replaced with `AnnotationHolder.newAnnotation()` which returns an `AnnotationBuilder`. With the latter, you never get handed an `Annotation`; instead, you build an annotation via the methods on `AnnotationBuilder` and

[2020-06-12 18:21] gayanper opened #203 "Support to start language server without a Editor Open"
**Proposal**
I would like to bring a proposal for starting up a language server without opening a file. The consumer who wants to start the language server should be started.

**Usecase**
Today to see all symbols, one should open a file to get the language server started. This is really annoying to open a file just to list all symbols.

For example vscode starts the java language server when a jav

[2020-06-14 14:08] NipunaRanasinghe commented on #203
@gayanper If I understand your requirement correctly, what you are proposing is a public API to dynamically start/stop language server(s). I also do see that as a valid requirement.

[2020-06-14 14:17] NipunaRanasinghe commented on #200
@carymrobbins What you are saying is correct and that complexity comes when providing the support for line based code actions (where we have to fetch code actions based on the cursor position changes). So we'll need to carefully have a look how we can replace the exiting `AnnotationHolder` usages with `AnnotationBuilder` impmlementation.

[2020-06-14 15:44] gayanper commented on #203
@NipunaRanasinghe yes. Vscode code has this behavior where you can provide a workspace predicate to startup a extension. But I don’t this we need to go that route. A public API might be sufficient

[2020-07-15 13:41] BinaryFissionGames opened #207 "Definition request doesn't adhere to spec"
**Description:**
The go to definition request will error out if a single Location (not wrapped in a list) is returned. However, the specification says that this is a valid shape of the return message.

See: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_definition

**Suggested Labels:**
Type/Bug

**Suggested Assignees:**

**Affected Product

[2020-07-15 13:48] BinaryFissionGames opened #208 "Formatting request doesn't provide indent amount/tabsize"
**Description:**
Formatting request doesn't provide indent amount/tabsize when making a request, which is required by the spec.

See: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_formatting

**Suggested Labels:**
Type/Bug

**Suggested Assignees:**

**Affected Product Version:**
0.94.2

**OS, DB, other environment details and versions:**
Wi

[2020-07-15 13:58] BinaryFissionGames opened #209 "Message is logged as unknown type when it shouldn't be"
**Description:**

In DefaultLanguageClient.logMessage, it appears an "else" is missing, making any message types that aren't MessageType.Log fail

**Suggested Labels:**

Type/Bug

**Suggested Assignees:**

**Affected Product Version:**
0.94.2
**OS, DB, other environment details and versions:**
Windows 10, IntelliJ 2020.1.1

**Steps to reproduce:**
Trigger a logMessage request for any language serv

[2020-07-15 14:06] BinaryFissionGames opened #210 "showMessageRequest fail if no actions are set"
**Description:**

DefaultLanguageClient.showMessageRequest fails and throws an NPE if no actions are send in the request. Such a request is perfectly valid. In this case, the user should be prompted with an "OK" prompt displaying the message.

See interface for ShowMessageRequestParams here: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#window_showMessa

[2020-07-15 14:12] Denu8thell commented on #210
Just to give more context in general about these past few issues; I've been working on integrating the [prisma language server](https://github.com/prisma/language-tools/tree/master/packages/language-server) using lsp4intellij. What I have so far (which has all these issues I've posted) is [in this repo](https://github.com/Denu8thell/intellij-prisma/tree/prisma-language-server-integration).

I've s

[2020-08-02 09:12] gayanper opened #211 "LSP unstable in latest master-snapshot"
When running the spring language server with latest master-SNAPSHOT version of lsp4intellij i get the following errors and language server connection giveup

[code]

This problem is not there in 0.94.2 version.

[2020-08-03 14:07] NipunaRanasinghe commented on #207
@BinaryFissionGames thanks for reporting and we'll try to provide a proper fix with the next release

[2020-08-03 14:21] NipunaRanasinghe commented on #208
@BinaryFissionGames As you've mentioned, In the spec they've not mentioned whether the `FormattingOptions` can be optional, but lsp4j has allowed the default public no-arg constructor option when creating `FormattingOptions (which could be a possible spec deviation), which makes the client to provide the formatting options without the indent/tabize properties. Anyway I'm +1 to add the support.

[2020-08-03 14:26] NipunaRanasinghe commented on #210
@BinaryFissionGames Yeah this should be fixed so that the no-action requests can be handled gracefully. +1 for the change.

[2020-08-03 14:28] NipunaRanasinghe commented on #210
@BinaryFissionGames Thanks for your valuable time and effort on this and we are more than happy to have external contributions :slightly_smiling_face: Please let me know if you need any further clarifications.

[2020-08-03 14:35] NipunaRanasinghe commented on #209
@BinaryFissionGames I just had a look and as you said the logic should be corrected using an "else if" block. +1 for the change.

[2020-08-03 14:40] NipunaRanasinghe commented on #211
@gayanper thanks for reporting and If I'm not mistaken, this exception is thrown inside the `MessageHandler` right?

[2020-08-04 21:29] BinaryFissionGames commented on #207
I looked into this a bit and found that it was an issue in lsp4j. I opened an issue with them [here](https://github.com/eclipse/lsp4j/issues/435). I'll try to look into a workaround in the meantime, but it might turn out pretty hacky, unfortunately....

[2020-08-04 21:38] BinaryFissionGames commented on #208
I was wondering how we'd like to implement this?

My thought was to have an interface that has a single method that returns a FormattingOptions instance, then have the *ServerDefinition classes take in this interface as an optional parameter. This way it's configurable and up to whoever uses the library whether they want to make this user configurable or not.

Downside is that if it's not provided

[2020-08-04 21:56] BinaryFissionGames commented on #211
Looks like the issue was introduced [in this commit](https://github.com/ballerina-platform/lsp4intellij/commit/5e3ee264992ec33ac33253e3cfad82d2bade848e). Optional.of throws an NPE if the parameter it's given is null.

[2020-08-07 13:42] NipunaRanasinghe commented on #211
@BinaryFissionGames Yeah that seems to be the issue. I think I've missed the relevant log at the first place.  thanks for pointing out!

[2020-08-10 10:31] Trias opened #212 "GotoDefinition does not work on Windows / IntelliJ 2020.2"
**Description:**
As the title says, goto definition does not work on Windows, as the URI ist wrongly resolved.

From my debugging i found out that the incoming URI is "fixed" to include only 2 slashes instead of 3 (in https://github.com/ballerina-platform/lsp4intellij/blob/master/src/main/java/org/wso2/lsp4intellij/editor/EditorEventManager.java#L1384). This later leads to "C:\\" being dropped and

[2020-08-18 06:32] Trias opened #213 "editText.range is ignored in completion Requests"
**Description:**
Within completion Responses, "textEdit" provides a "newText" and a "range" property. If textEditexists together with "insertText" we give precedence to editText, as the specs says: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_completion . however, we do not honor the range provided. This leads to double quotation marks in

[2020-08-18 13:37] kevinvdbekerom commented on #103
Is there any progress on this issue? For me it is not working.

**OS, DB, other environment details and versions:**
Windows 10
IntelliJ2020.2 Community Edition
LSP Support plugin v 1.6.1

**Steps to reproduce:**

1. Create new Xtext project with LSP support.
2. Build jar with gradle
3. Add jar in intelliJ
4. Add some code, and hover on a language element.

![image](https://user-images.githubuserco

[2020-08-19 04:50] NipunaRanasinghe commented on #212
@Trias Thanks for your observations and please feel free to contribute if you have time :slightly_smiling_face:

[2020-08-19 04:55] NipunaRanasinghe commented on #213
@Trias I see that you've already fixed these 2 issues with #214. Thanks for working on this and I'll try to provide a new release with all the recent changes/fixes, as soon as possible.

[2020-08-27 08:38] SUBYEAR opened #215 "Complementation of the editor which is splited in another group is affected"
**Description:**

I used lsp4intellij develop a laguage supporting feture in intellij. And I found that if i use the 'split' function, the completion of lsp4intellij will be affected. The described 'split' function in intellij is as follwing
![image](https://user-images.githubusercontent.com/25758750/91418947-66ba4800-e885-11ea-85b7-ba1a23433873.png)

**Suggested Labels:**

**Suggested Assignees:*

[2020-08-30 14:00] #209 closed

[2020-08-30 14:00] #211 closed

[2020-08-30 14:01] #212 closed

[2020-08-30 14:01] #213 closed

[2020-09-19 04:01] SUBYEAR opened #216 "There exists a caculating position of lsp error"
**Description:**

the caculating position of lsp error will cause lsp server  service be shutdowned.
**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**
All
**OS, DB, other environment details and versions:**

**Steps to reproduce:**
[code]
Deleting the line `int a = 0` with the **NewLine** in the end. The the code snippet turn to be like following
[code]
This will cause

[2020-09-23 11:55] Trias opened #218 "empty strings are not respected in textEdits"
**Description:**
When supplying an empty string in an textEdit (for example in a completion), the text edit is ignored by lsp4intellij. It is therefore impossible to delete text via a textedit.

Empty strings is specifically prevented by lsp4intellij in https://github.com/ballerina-platform/lsp4intellij/blob/master/src/main/java/org/wso2/lsp4intellij/editor/EditorEventManager.java#L1132, but i can

[2020-10-04 15:05] swissiety commented on #215
duplicate of #142

[2020-10-15 09:18] NipunaRanasinghe commented on #215
@SUBYEAR Closing since a duplicate of #142

[2020-10-15 09:19] #215 closed

[2020-10-15 09:36] #216 closed

[2020-10-15 17:39] tyranteon commented on #164
I'd definitely need this feature as well.

[2020-10-16 03:25] NipunaRanasinghe commented on #218
@Trias I'm afraid this check could be an LSP violation, as like you mentioned, empty string should be allowed in order to delete text via text edits. Thanks for you observation and feel free to send a PR with the fix :slightly_smiling_face:

[2020-10-16 03:26] #210 closed

[2020-11-03 23:04] #203 closed

[2020-11-03 23:17] swissiety commented on #198
first guess: LSP & intelliJ are starting line numbers zero based. Maybe its an off by one bug on the input side e.g. antlr starts line numbers one-based but the chararacter in line zero based (learned that from experience ;) ).

Additionally: "The offsets are based on a UTF-16 string representation. So a string of the form a𐐀b the character offset of the character a is 0, the character offset of 𐐀

[2020-11-03 23:43] swissiety commented on #208
lsp4j just provides the datastructures and the communication channel/serialization; it doesnt validate what you are sending except from providing the basic nesting of the defined datastructures! If i remember it correctly the deviation with the zero parameter constructor has sth to do with eclipse Xtend, so we need to add  the missing values via setter.

Tabsize: like in `DocumentUtils.LSPPosToOff

[2020-11-03 23:48] swissiety commented on #128
I did a prototype for docsymbol/the structureview in the fork of my ongoing thesis. I'll create a PR in the new year.

[2020-11-03 23:50] nixel2007 commented on #128
Why wait so long? O_o

[2020-11-03 23:54] swissiety commented on #128
lack of time (can't promise to do it earlier) and its not finished yet.

[2020-11-03 23:59] swissiety commented on #164
SemanticHighlighting was not an official extension. An equivalent will be SemanticToken in LSP 3.16.

[2020-11-04 08:32] nixel2007 commented on #128
maybe you could send a draft PR so anyone can help you if they want?

[2020-11-19 15:14] Trias opened #223 "validations/diagnostics/annotations keep disappearing and reappering"
**Description:**
perhaps best explained in a screencast:
![Uploading lsp-annotations.gif…]()

**Suggested Labels:**
validation, annotation, bug,

**Affected Product Version:**
master

**OS, DB, other environment details and versions:**
windows

**Steps to reproduce:**
Have an LSP-server which produces diagnostics for the current file. Provoke an invalid edit. after the validation appears, click aw

[2020-11-20 07:56] nixel2007 commented on #223
confirm same behavior with bsl language server.

[2020-11-20 11:46] Trias opened #226 "Can LanguageServers freeze the UI?"
**Description:**
While developing our internal language server, i notice that sometimes the ui froze. This is releated to our language server doing to much work and this is a separate issue of course. But a language server should never block an UI.

I've attached a typical threaddump:
[threadDump-20201119-162826.txt](https://github.com/ballerina-platform/lsp4intellij/files/5573247/threadDump-20201

[2020-12-22 09:56] Trias commented on #198
I've looked into this and as of my understanding it does not indicate a problem in the library. However i think we should remove /downgrade the logging as it is a common occurence and may bury more serious logs.

There are 2 conditions where this problem can arise:
1. Language server send a Position which spans to the end of line. In this case the soec says that the position should wrap to the 0th

[2020-12-22 10:02] nixel2007 commented on #198
my 2cents. 3.15 spec adds `version` field `PublishDiagnosticsParams` (`publishDagnostics` notification) plus adds `versionSupport` to `PublishDiagnosticsClientCapabilities`.

versionSupport is described as:
[code]

so client (lsp4intellij) *may* drop recieved diagnostics from incorrect (not last) version of document.

[2020-12-22 10:12] Trias commented on #109
this may be a duplicate of https://github.com/ballerina-platform/lsp4intellij/issues/216 so maybe it's fixed now

[2020-12-22 10:45] swissiety commented on #198
Additionally there is a bug in the logic - I'll create a PR for this after christmas as im currently occupied with finishing my thesis.

[2020-12-26 04:01] #208 closed

[2020-12-26 04:06] #207 closed

[2020-12-27 00:53] swissiety commented on #198
@Trias do you have the line for the thing with the 0th char-> end of previous line from spec at hand? cant find it currently but im sure i've read it, too

[2020-12-27 01:02] swissiety opened #229 "editor listeners are removed after references toolwindow is closed"
listeners are removed if another editor instance with the same uri is closed;
happens after closing references tool window/commit dialog.

i guess it affects closing a split editor, too.

[2020-12-27 06:31] #109 closed

[2020-12-27 06:31] Chandlercjy commented on #109
Fixed

[2020-12-27 12:04] Trias commented on #198
@swissiety It's in the link i posted:
<blockquote>If you want to specify a range that contains a line including the line ending character(s) then use an end position denoting the start of the next line. For example:

[code]
</blockquote>
[link](https://microsoft.github.io/language-server-protocol/specification#range)

[2020-12-27 13:38] swissiety commented on #198
thx! i guess it was too late yesterday.

[2020-12-28 12:31] swissiety opened #236 "Hove is positioned above top menus on Mac"
Hover is not rendered above the textrange on MacOS.

[2020-12-28 15:03] Trias commented on #236
could you provide a screenshot / screencast of what the problem is? I recently looked into the code and while the placement is probably not perfect for me me it was okayish. I tested on windows tough...

[2020-12-28 15:25] Trias commented on #183
i think we can possibly inject ourselves here: https://upsource.jetbrains.com/idea-ce/file/idea-ce-4b94ba01122752d7576eb9d69638b6e89d1671b7/platform/analysis-api/src/com/intellij/codeInsight/navigation/actions/GotoDeclarationHandler.java if anyone wants to have a look

[2020-12-29 10:59] swissiety commented on #236
Sry not at the moment - I conducted a user study in which a participant used a macbook and it happened there.

[2020-12-29 11:02] swissiety opened #237 "implement LocationLink for all supported features"
implement LocationLink for all supported features, too
- [ ] basic functionality like Location
- [ ] highlight linked area

[2020-12-29 11:15] swissiety commented on #4
I guess we can close this issue after someone added the gitter channel to the readme?

[2020-12-29 11:20] swissiety commented on #164
I guess we can close this wooing issue now as LSP 3.16 is officially published and the referenced PR is closed.

[2020-12-29 11:28] swissiety commented on #223
Maybe it has sth todo with they way IntelliJ renders/gathers information for the editor panel. With LineMarkers IntelliJ loads information about the visible area at first and i a second pass IntelliJ asks for the rest of the information. As the `getAnnotation()` has a sideffect the first call will set isDiagnosticSyncRequired() to false so a a followup call will return false and there are no annot

[2020-12-29 11:30] swissiety opened #238 "implement LineMarkers"
- [ ] via information from implementation
- [ ] via information from (unofficial) typehierarchy, too.

[2020-12-29 11:36] swissiety opened #239 "implement syntax highlighting"
LSP 3.16 is published with support for SemanticTokens.
- [ ] render syntax highlighting ranges. Starting point is the ExternalAnnotator `LSPAnnotator`.

[2020-12-29 20:04] Trias commented on #239
I don't think that LSPAnnotator is the right starting point for syntax highlighting/semantic tokens. It's used to display warnings and such.

unfortunately syntax highlighting is so deeply integrated in intellij (PSI), i can't think of a way for us to use it.

If anything i think we have do reimplement all highlighting by ourselves, which may be quite an undertaking unfortunately. This shouldn't s

[2020-12-29 20:09] Trias commented on #238
You may want to have a look at inlay hints https://intellij-support.jetbrains.com/hc/en-us/community/posts/360001233699-Add-inlay-hint-above-method just fyi

Inlay hints are closer to the ui used in vscode, but a bit uncommon in intellij. But line markers are cool as well. I like the idea and it would feel more "native". Good to hear you are working on it :)

[2020-12-29 20:25] nixel2007 commented on #239
I think starting point should be SyntaxHighlighterBase.
May be language client may populate intellij with tokens got from semanticTokens request

[2020-12-29 20:53] Trias commented on #239
@nixel2007 that was what i was referring to. For intelliJ syntax highlighting you need an (syncronous) [incremental Lexer](https://upsource.jetbrains.com/idea-ce/file/idea-ce-4b94ba01122752d7576eb9d69638b6e89d1671b7/platform/editor-ui-api/src/com/intellij/openapi/fileTypes/SyntaxHighlighter.java). It's a cool thing but very low level. i don't know how to make it work in combination with LSP. If yo

[2020-12-29 20:54] swissiety commented on #239
Via `SyntaxHighlighterBase` we need a lexer or a lexer emulating functionality which feeds into the SyntaxHighlighter - which is possible to emulate but it needs to wait for the semanticTokens Notification. Additionally it needs a lot of  custom language specific config e.g. a way to determine the filetype at runtime - as the set of handled files is language server specific - by IntelliJ: suffix,

[2020-12-29 20:57] swissiety commented on #239
every SemanticToken Type would be a token of the emulated lexer. incremental lexer is supported but not necessary if i remember it correctly.

[2020-12-30 10:45] #226 closed

[2020-12-30 10:47] #103 closed

[2020-12-30 11:05] #218 closed

[2020-12-30 14:59] Trias commented on #236
is it related to this issue? https://github.com/ballerina-platform/lsp4intellij/issues/100

[2020-12-30 15:35] swissiety commented on #236
maybe related - but the problem was not the lack of disappearing but the bad positioning on top of the menu instead of somewhere near the mouse hovered textrange.

[2020-12-30 19:37] Trias commented on #223
i found the issue. It has nothing to do with intellij. the logic with ...SyncRequired() is off. if i disable it completely (no checking in `collectInformation` and always `createAnnotations` in `apply`) it works for me. (only annotations, no code actions of course)

the indeterminism apparently comes from the server pushing new diagostics and multiple threads running in parallel. This leads to the

[2021-01-01 22:16] Trias commented on #175
anyone doing any work on this?

I looked into this a bit and it seems very much doable, but we need to change our ApplicationComponent [IntellijLanguageClient](https://github.com/ballerina-platform/lsp4intellij/blob/master/src/main/java/org/wso2/lsp4intellij/IntellijLanguageClient.java) to an ApplicationService, meaning all library-users must adapt.

Users must declare listeners in their plugin.xm

[2021-01-02 08:46] nixel2007 commented on #175
I think, before 1.0 all breaking changes are acceptable. notice in readme and changelog with migration steps should be enough.
demo plugin already exists - https://github.com/NipunaRanasinghe/lsp4intellij-plugin
PR with migration could be linked to migration guide also.

[2021-01-04 12:13] #164 closed

[2021-01-24 17:35] Neppord commented on #190
Hey, i started to use this library in the purescript plugin https://github.com/intellij-purescript/intellij-purescript https://plugins.jetbrains.com/plugin/9738-purescript .

The compatibility verification is now complaining about these errors. Is there any way for me to help out? Where should i start, is there anyone who could take some time to pair program or ensemble-work with me?

[2021-01-24 17:37] Neppord commented on #190
the worst offender is probably this error

[2021-01-26 07:09] nixel2007 commented on #190
I've removed internal call in https://github.com/nixel2007/lsp4intellij/commit/c3b4f80462daa6e84354d935e7b99a26c704e4d5 (not tested yet) but it looks like we need to rewrite all widget-related stuff to StatusBarWidgetFactory implementation, cause many of statusbar/widget methods used in LSPServerStatusWidget and around it are deprecated and suggested to removal.

[2021-01-26 07:53] nixel2007 commented on #190
https://github.com/jonathanlermitage/intellij-battery-status-plugin deservses attention as plugin that uses new statusbar/widget api.

[2021-01-26 12:39] huangxc0930 opened #242 "It is weird that a cancellationException do be catched in the stop method of LanguageServerWrapper class when multithreading"
**Description:**

the stack trace:
java.util.concurrent.TimeoutException
	at java.util.concurrent.CompletableFuture.timedGet(CompletableFuture.java:1784)
	at java.util.concurrent.CompletableFuture.get(CompletableFuture.java:1928)
	at org.wso2.lsp4intellij.client.languageserver.wrapper.LanguageServerWrapper.getServerCapabilities(LanguageServerWrapper.java:175)
	at org.wso2.lsp4intellij.client.langu

[2021-01-31 10:07] Neppord commented on #184
Is this issue actually closed? since there is a merge?

[2021-02-04 08:36] #198 closed

[2021-02-04 21:43] Trias commented on #242
did you use the restart button? do you know how the call to stop() was triggered?

Looking at the code, it might be that an Exception or Timeout occured. Do you see something like this in the log? (Help->show log)

[2021-02-13 06:36] #229 closed

[2021-02-16 16:00] jeffmaury opened #243 "LSP server not launched pre 2019.2"
**Description:**

My LSP server is bound to .json, .xml and .txt files.
When I open a package.json or pom.xml files, I noticed the LSP server is not launched. Seems caused by LSPEditorListener filtering to MAIN_EDITOR where editor kind is UNTYPED pre 2019.2 (up to 2019.1)

**Suggested Labels:**
Bug, Good first issue

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environm

[2021-02-16 17:16] Trias commented on #243
hm. i think we can get rid of this check once https://github.com/ballerina-platform/lsp4intellij/pull/241 is merged.

I am not aware of any minimum supported version policy though. There has been talk of supporting [dynamic plugins](https://plugins.jetbrains.com/docs/intellij/dynamic-plugins.html?from=jetbrains.org) which is a 2020.1+ feature.

[2021-02-16 17:29] Trias commented on #184
It's working for me on 2020.3. I think the issue has been resolved.

[2021-02-17 10:46] jeffmaury commented on #243
I just submitted my plugin based on lsp4intellij but got refused by JetBrains as it does not pass validation on 2019.3 and earlier. So minimum for lsp4intellij is 2020.1

[2021-02-21 13:24] #200 closed

[2021-02-28 13:31] #100 closed

[2021-03-03 15:32] kathrynkodama opened #249 "CodeActionLiteralSupport and versioning error"
**Description:**
Add `CodeActionLiteralSupport` for quick-fixes in the [LanguageServerWrapper](https://github.com/ballerina-platform/lsp4intellij/blob/master/src/main/java/org/wso2/lsp4intellij/client/languageserver/wrapper/LanguageServerWrapper.java#L569):
[code]

I also notice an error in the versioning where I continue to see this error when selecting a code action:
`Edit version %d is older th

[2021-03-03 20:33] Trias commented on #249
I agree it should be a precrement. It's interesting that apparently has never caused any problems before.

Would you mind sending a Pull Request? :)

[2021-03-03 21:02] kathrynkodama commented on #249
Thank you @Trias, see the linked PR

[2021-03-14 04:05] #249 closed

[2021-04-26 11:54] Trias commented on #190
I'm looking into this right now and it seems that with the new API, the statusbar widget is created before any components init. meaning we can't display any meaningful information until our component inits. Does anyone have an idea on how to solve this?

[2021-05-01 14:17] Tatskaari opened #252 "Associate language server with FileType rather than an extension"
**Description:**
I think this would be a neater way to go about this, but it's also more flexible. My files are just named `BUILD` with no extension.

**Suggested Labels:**
enhancement

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**
https://github.com/ballerina-platform/lsp4intellij/issues/2

[2021-05-25 07:14] mmarienh opened #254 "Preventable Nullpointer Exception in LSPProjectManagerListener"
**Description:**
Class LSPProjectManagerListener is throwing a NullPointerException if a Project without any LanguageWrapper is closed.
This could be prevented by adding a null-check.

**Suggested Labels:**
Bug, LSPProjectManagerListener, Project

**Suggested Assignees:**

**Affected Product Version:**
0.94.0

**OS, DB, other environment details and versions:**
Microsoft Windows 10

**Steps to rep

[2021-05-27 10:29] fberlakovich opened #255 "Preventable NullPointer Exception in DefaultRequestManager"
**Description:**
I am using lsp4intellij with the Racket language server (https://github.com/jeapostrophe/racket-langserver) and I was experimenting with the LSPSymbolContributor which eventually leads to a call of `DefaultRequestManager.symbol`. The method tries to check the boolean flag `getWorkspaceSymbolProvider`. In the case of the Racket language server, the boolean flag is null, however, wh

[2021-06-19 05:18] #190 closed

[2021-09-26 18:27] dogboydog opened #259 "Debug logging?"
**Description:**

Is there any way with the current version of lsp4intellij to  log input and output of the LSP server? I'm developing a new plugin with @pappleby and we wanted to see what's going in and out of the server to debug why things are not working.

**Describe your problem(s)**
Starting the language server fails to fully initialize despite working for other editors. We want to see if we

[2021-09-29 00:05] dogboydog commented on #259
I was able to achieve something like this by wrapping RawCommandServerDefinition with code to echo stdin and stdout to a file

https://github.com/dogboydog/yarnspinner-jetbrains-plugin/blob/55fafb38bd5623bab5a90572126e83abf28f4f95/src/main/java/org/dogboydog/yarnspinnerlsp/server/TeeStreamConnectionProvider.java

[2021-10-05 23:05] pappleby opened #260 "Support for LSP v3.16 (finalized specification)"
**Description:**
lsp4intellij currently supports the proposal version of the LSP v3.16 spec instead of the final released version.

**Describe your problem(s)**
LSP clients using the finalized v3.16 spec get their processes killed by the plugin if they use anything that changed between the final and proposed versions. [Release notes for LSP4J](https://github.com/eclipse/lsp4j/releases/tag/v0.11.0)

[2021-11-04 14:53] itviewer opened #261 "Are there any open source plugins that use this library?"
I want to learn how to use this library, are there any sample Intellij plugins(still being maintained)?

[2021-11-04 15:35] nixel2007 commented on #261
Hi there! 1C:Enterprise (BSL) language plugin uses lsp4intellij: https://github.com/1c-syntax/intellij-language-1c-bsl

it's not actively maintained now cause most of resources was transfered to develop BSL Language Server itself, but feel free to ask any questions (I'm the lead of all 1c-syntax projects)

[2021-11-08 15:52] ginfung opened #262 "flexmark HTML Render not work in Intellij2020.1"
**Description:**

I notice that the `flexmark.html.HtmlRenderer` is not working in Intellij2020.1.
Checking in [this](https://github.com/ballerina-platform/lsp4intellij/blob/master/src/main/java/org/wso2/lsp4intellij/requests/HoverHandler.java) page, I found that as long as we create the `HtmlRenderer` object, the IDE would not show anything when we hovered.

If I removed all `flexmark` related co

[2021-11-10 02:32] ginfung commented on #262
It turns out that this was due to my wrong setups. The error type was `NoClassDefFoundError `.

[2021-11-10 02:32] #262 closed

[2021-11-15 09:16] cgueret opened #263 "Missing package statusbar"
**Description:**
It seems the package "statusbar" is missing from the library shared on jitpack.

**Steps to reproduce:**
In the graddle file add:

[code]

Then browse the package imported:

![image](https://user-images.githubusercontent.com/196436/141754416-cb11c455-bc8c-41f5-8697-7b9ee0c3f664.png)

**Affected Versions:**
IntelliJ 2021.2.3 and LSP4IntelliJ 0.94.2

**OS, DB, other environment deta

[2021-11-15 19:35] vicky17d commented on #261
Is it just a library or is there a corresponding plugin as well that I can install in IntelliJ IDEA?
Similar to https://plugins.jetbrains.com/plugin/10209-lsp-support

[2021-11-15 19:49] nixel2007 commented on #261
This library was founded as hard fork of lsp-support plugin (https://github.com/gtache/intellij-lsp).

[2021-11-15 19:52] vicky17d commented on #261
Yes I did see that.
That plugin does not work currently and is not maintained. If I don't have my own plugin to bundle this library in, how do I use it?
With intellij-lsp, I could simply install it in my plugins.

[2021-11-15 20:55] nixel2007 commented on #261
You should develop your own plugin with preload task. See example in Readme

[2021-12-06 12:26] #242 closed

[2021-12-07 20:16] Blarkdackbyte commented on #263
Confirmed with ` implementation("com.github.ballerina-platform:lsp4intellij:master-SNAPSHOT")`

[2022-01-07 20:44] onelson opened #264 "Empty FormattingOptions"
**Description:**

I've been trying to build a plugin to talk to an LSP server written with [lspower](https://github.com/silvanshade/lspower), and I'm finding it rejects request bodies that don't strictly conform to the LSP spec.

A concrete case (using 0.94.2) is a request for formatting looks like:

[code]
to which the LSP server replies:

[code]

Per the spec, both `tabSize` and `insertSpaces` a

[2022-01-07 20:51] onelson commented on #264
As an aside, I tried master-SNAPSHOT and wasn't able to test this specifically because of a similar problem much earlier during the capabilities checks in initialization. `codeActionKind` was missing from `CodeActionClientCapabilities` causing the initialization to fail.

[2022-02-17 20:42] patricknelson commented on #261
I'm in the same boat as @vicky17d. Basically, instead of building language server support into the IDE themselves, they point to this plugin with the comment:

So essentially I'm looking for _some way_ to simply enable LSP support so that I can support a language I'm interested in by pointing the LSP client to this language's LSP server. But right now based on my admitted limited understanding, it

[2022-03-11 10:36] nadeeshaan opened #265 "Diagnostics are not shown if the start and end character offset are the same"
**Description:**
Consider the following scenario,

[code]
In the above, I have a diagnostics at the start of the `{`. For example, my params look as below,

[code]

[2022-03-11 11:35] nixel2007 commented on #265
But it has no sense, hasn't it?.. You can't highlight range with 0 length.

[2022-03-11 12:05] nadeeshaan commented on #265
@nixel2007 I was thinking if we can provide the same behaviour as in VSCode since VSCode properly provides the diagnostic in this scenario.

[2022-03-11 12:09] nixel2007 commented on #265
@nadeeshaan could you share a screenshot from vscode with zero-length diagnostic?

[2022-03-11 12:16] nadeeshaan commented on #265
@nixel2007 please refer the following,
<img width="458" alt="Screen Shot 2022-03-11 at 5 46 07 PM" src="https://user-images.githubusercontent.com/1329674/157865336-5d5af768-9941-476a-99d9-ede8fc861ac7.png">

[2022-03-11 12:26] nixel2007 commented on #265
Hm. Interesting. Looks like vscode adds some "virtual" space char for highlighting

[2022-05-04 13:07] robclancy commented on #261
You can see what they were doing here: https://github.com/ballerina-platform/ballerina-lang/tree/065cf3d07391d2430f4bcc1d07580893f1b07be2/tool-plugins/intellij

This is the state right before they deleted the plugin, I guess maintaining this was a lot of work since Intellij doesn't just support it for some stupid reason (even though apparently their new IDE will).

I had planned to try to get LSP

[2022-05-06 07:34] fxsg20151212 opened #266 "When can a new version 0.94.3 be released?"
Hello, Version 0.94.2 is released on March 11, 2020. It's been more than two years since a new version has been released. Can you release a new version recently?Maybe it's called 0.94.3.

![image](https://user-images.githubusercontent.com/16264691/167087618-b4df3b08-7660-4b1c-bab7-d192b4f082da.png)

[2022-05-11 10:03] fxsg20151212 commented on #266
@matthewmichihara @dinvlad @hevayo @mikesamuel   Please take a look at this question.

[2022-07-21 04:14] #255 closed

[2022-07-22 02:38] fxsg20151212 commented on #266
@NipunaRanasinghe  Can you help release a new version? I really need a new version, thank you!

[2022-07-25 09:10] NipunaRanasinghe commented on #266
@fxsg20151212 We've just released [0.95.0](https://github.com/ballerina-platform/lsp4intellij/releases/tag/0.95.0) version and is available in jitpack. I'll also update the release notes soon.

[2022-07-28 06:12] fxsg20151212 commented on #266
Thank you so much! I've seen it and I'll be upgrading to the latest version.

[2022-07-28 06:13] #266 closed

[2022-08-02 15:53] pschwendy opened #271 "externalAnnotator: createAnnotation() is deprecated, use create() instead"
**Description:** Language server crashes upon opening IntelliJ, throwing the following error:
[code]
The server runs after restarting, but I don't think the user should have to manually restart it. Would it be possible to update to use create() instead? Thank you!

**Affected Versions:** 0.95.0

[2022-08-02 16:02] pschwendy opened #272 "Current file diagnostics disappear on save"
**Description:** It seems like externalAnnotator stops running on the current file whenever I try to save.  No error is thrown, and the file is still listed in **_connected files_**. The diagnostics just disappear. The server runs I'm running works great on non JetBrains IDEs (i.e. vscode, sublime text) and isn't logging any errors, so I'm pretty sure this is a client side problem.

**Affected Ver

[2022-08-12 14:43] Cammisuli opened #273 "Not working with 2022.2+"
**Description:**
Trying to load a plugin that has this configured, fails on IDEs 2022.2+ (it will work with 2022.1 though).

**Steps to reproduce:**
* install this lsp (sorry it's with npm 🙁 ) `npm i -g nxls`
* Clone these repos
  * https://github.com/Cammisuli/lsp-mvp (jetbrains plugin)
  * https://github.com/Cammisuli/monodon (repo where lsp should work in)
* Set the plugin version to 2022.2 in

[2022-08-14 17:13] gayanper commented on #273
Do you have the error logs for this ?

[2022-08-15 14:32] Cammisuli commented on #273
@gayanper here's the error that appears when first starting:
[code]

[2022-08-15 14:40] Cammisuli commented on #273
Sorry, I just realized that you have 2022.2 installed already, you can't run a plugin in debug mode with the same version. So you would have to build the plugin and install it, sorry about that.

[2022-08-15 16:58] Cammisuli commented on #273
I'm going to close this, as I think there's some configuration issues on my side.

[2022-08-15 16:58] #273 closed

[2022-08-15 19:49] nixel2007 commented on #273
@Cammisuli according to logs you use intellij-lsp plugin (not this repo) and not lsp4intellij library (this repo)

[2022-09-21 17:26] buschco opened #275 "How to access binaries in the users `PATH` from `RawCommandServerDefinition`"
**Description:**

First of all, thanks for the great work!

I was wondering about what is available in the `PATH` for the `RawCommandServerDefinition`.

This is my `PreloadingActivity`:

[code]
If I launch Idea with my plugin installed, I get this error:

[code]

- As a workaround I can put the absolute path to a `node` binary instead of node, but this will only work on my machine.

- Another solu

[2022-09-21 18:21] nixel2007 commented on #275
Ehm. do you have `node` in your PATH? did you install node via nvm (which adds variables in sh-init scripts) or via package panager of your distro?

[2022-09-21 18:27] nixel2007 commented on #275
Nope, java takes raw path variable, cause it runs process without any shell. You could try to run node via macos analogue of windows' `cmd /C node`, maybe it'll take zshrc into account

[2022-09-21 18:28] nixel2007 commented on #275
PATH should lead to directory, not a file

[2022-09-21 18:46] buschco opened #276 "Suggestions are not showing "as I type""
**Description:**

As you can see in this screencast, only by pressng <kbd>Ctrl</kbd>+<kbd>SPACE</kbd> suggestion are showing up.

https://user-images.githubusercontent.com/14929556/191574908-f58c6e56-3739-4fff-a593-278772c9baeb.mov

Here is the same LSP used in a VSCode Plugin:

https://user-images.githubusercontent.com/14929556/191585659-8ca65aa4-4971-424e-a026-a2848a12801a.mov

**Steps to reprod

[2022-09-21 18:50] buschco opened #277 "Details from Completion Items"
**Description:**
There is a `detail` and `documentation` field at Completion items. In VSCode, you the selected Completion shows these Details:

https://user-images.githubusercontent.com/14929556/191585962-a9b2744f-02ee-4e74-95b6-7180fbd58e9e.mov

It would be really useful to see this information in IDEA too. Is this feature already implemented in `lsp4intellij`?
**Related Issues (optional):**

**

[2022-09-21 19:39] buschco commented on #275
@nixel2007 thanks for your answer.

Yes sorry only this part is in my `PATH`: `/Users/colin/.nvm/versions/node/v16.17.0/bin` which includes the binaries for`node` `yarn` etc.

I am not sure what `cmd /C node` is exactly.

Ok this is harder than I thought. I think the only solution is to add a config so users can add a path to a node binary 😕

I also tried this:
[code]
or a similar approach with th

[2022-09-21 20:02] nixel2007 commented on #275
Try zsh instead of sh in process builder

[2022-09-22 07:29] buschco commented on #275
Same result. Always `Stream closed`

[code]

With the `ProcessBuilder` method I was not able to start the LSP. Event with the strings that worked fine at `RawCommandServerDefinition`.

[2022-11-03 17:39] maldz3 opened #278 "IllegalArgumentException error after upgrading to version 0.95.0"
**Description:**

Trying to do a simple code completion that works with version 0.94.2:

[code]

**Affected Versions:**

0.95.0

**Error**

[code]

[2022-11-10 20:04] maldz3 commented on #278
Looks like there are life-cycle/concurrency issues arising within the `requestAndShowCodeActions` method from newAnnotation, possibly now surfacing due to IntelliJ version differences.  Is there any plan to upgrade the targeted versions of IDEA and gradle-intellij-plugin?